<template>
    <div>
        <Login
            v-if="!logged"

            v-on:loggedIn="logged = $event"
        ></Login>
        <Mine
            v-if="logged === true"
            v-on:signOut="logged = $event"
        ></Mine>
    </div>
</template>

<script>
    // user
    import Login from "./Login.vue"
    // mine
    import Mine from "./Mine.vue";
    // session
    import VueSession from "vue-session";
    import IdleVue from "idle-vue"

    import Vue from "vue";

    Vue.use(VueSession, {persist: true});

    const eventsHub = new Vue();

    Vue.use(IdleVue, {
        eventEmitter: eventsHub,
        idleTime: 1800000, // half an hour
    });

    export default {
        name: "App",

        data() {
            return {
                logged: this.$session.get("logged"),
            }
        },

        components: {
            Mine,
            Login,
        },

        onIdle() {
            this.$session.destroy();
            this.$session.set("logged", false);
            this.$session.set("read", "");
            this.logged = false;
            this.$forceUpdate()
        },

        beforeCreate() {
            this.$session.start();
            if (!this.$session.get("logged"))
                this.$session.set("logged", false);
        },

        watch: {
            logged() {
                if (!this.logged) {
                    this.$session.destroy();
                    this.$forceUpdate();
                }
            },
        }
    }
</script>

<style>

</style>