<template>
    <div>
        <div class="login-page">
            <div class="login-box">
                <div>
                    <img class="login-header-logo" src="../images/fluen.svg">
                </div>
                <div class="login-content">
                    <div class="login-header">
                        <div>Log in</div>
                        <div>
                            <router-link to="/register">Create account</router-link>
                        </div>
                    </div>
                    <div v-on:keyup.enter="logIn" class="login-fields">
                        <table>
                            <tr class="login-field">
                                <td>Email:</td>
                                <td style="width: 100%"><input v-model="email" placeholder="email@example.com" class=""/></td>
                            </tr>
                            <tr class="login-field">
                                <td>Password:</td>
                                <td style="width: 100%"><input v-bind:style="passwordStyle" v-model="password" type="password" placeholder="Password" class=""/></td>
                            </tr>
                        </table>
                        <p>
                            {{ errorMsg }}
                        </p>
                    </div>
                    <div class="login-buttons">
                        <button v-on:click="logIn" class="login-btn">Log in</button>
                    </div>
                </div>
            </div>
            <div class="login-foot">
                <a href="https://www.facebook.com/fluen.org" target="blank"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/@fluenos" target="blank"><i class="fab fa-twitter"></i></a>
                <a href="https://fluenos.slack.com" target="blank"><i class="fab fa-slack"></i></a>
                <a href="https://gitlab.com/fluen" target="blank"><i class="fab fa-gitlab"></i></a>
                <div class="login-foot-text">
                    Created by<a href="http://www.fluen.org/" target="blank">fluen.org</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import md5 from 'js-md5';

    export default {
        name: "Login",
        data: function() {
            return {
                email: "",
                password: "",
                errorMsg: "",
                fluenKey: "",
                passwordStyle: "",
            }
        },
        methods: {
            logIn: function() {
                console.log("SEXY: " + process.env.SEXYSERVER)
                if (this.email === "" || this.password === "") {
                    this.errorMsg = "Empty creditnails";
                    return;
                }



                let hash = md5.create();
                hash.update(this.password);

                let obj = this;

                let request = {
                    Email: obj.email.toLowerCase(),
                    Password: hash.hex(),
                    TwoStep: false
                };

                $.post("/api/user/login", request, function(data, status) {
                        if (status === "success") {
                            obj.fluenKey = data;
                            obj.$session.set("email", obj.email.toLowerCase());
                            obj.$session.set("fluenKey", obj.fluenKey);
                            obj.$session.set("logged", true);
                            obj.$emit("loggedIn", true)
                        }
                    })
                    .fail(function() {
                        obj.errorMsg = "Wrong creditnails or acoount is not active"
                    });
            },
        },
    }
</script>

<style>

</style>