<template>
    <div>
        <div class="miner-miners">
            <!-- this is a mini miner -->
                <div v-if="!exp" class="col-xl-4 col-sm-6 col-xs-12">
                    <div class="panel miner-panel">
                        <div v-bind:style="style.minerStyle" class="panel-heading panel-heading-miner">
                            <button v-if="!changName" v-on:click="changeRigName" class="btn" title="Change rig name"><i class="fa fa-desktop"></i></button>
                            <div v-if="changName" class="flex-position nbsp">
                                <input v-model="rigName" v-on:keyup.enter="changeName" class="inputName">
                                <div class="btn-group">
                                    <button v-on:click="changeName" class="btn"><i class="fa fa-check"></i></button>
                                    <button v-on:click="stopChangeRigName" class="btn"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div v-if="!changName" v-on:click.self="resize" title="Expand" class="Name"> {{ rigName }} </div>
                            <div v-show="currentState.info !== ''" class="stateInfo"> {{ currentState.info }} </div>
                            <div class="btn-group">
                                <button v-show="!currentState.statFlags.isAlive" v-on:click="removeMinerAlert" class="btn" title="Remove that rig" ><i class="fa fa-trash"></i></button>
                                <button v-show="currentState.statFlags.isAlive" v-on:click="resetMinerAlert" class="btn" title="Reboot that rig" ><i class="fa fa-refresh"></i></button>
                                <button v-show="currentState.buttons.loop" v-on:click="displayLoopOutput" class="btn" title="Display claymore output" ><i class="fa fa-search"></i></button>
                                <button v-show="currentState.buttons.stop" v-on:click="stopMining" class="btn" title="Stop mining"><i class="fa fa-pause-circle"></i></button>
                                <button v-show="currentState.buttons.play" v-on:click="startMining" class="btn" title="Start mining"><i class="fa fa-play-circle"></i></button>
                                <div v-if="update.version!==update.currentVersion" class="updateDots" title="That rig is out-dated"><i class="fa fa-circle updateDotRed"></i></div>
                                <div v-if="update.version===update.currentVersion" class="updateDots" title="That rig is up-to-date"><i class="fa fa-circle updateDotGreen"></i></div>
                            </div>
                        </div>
                        <div class="panel-body miner-panel-body flex-position">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="mediumColumn">Cards</th>
                                    <th v-show="currentState.statFlags.started">MH/sec</th>
                                    <th v-show="currentState.statFlags.started">Wattage</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ rig.GpuDevices.length }}</td>
                                    <td class="miniMinerTable" v-show="currentState.statFlags.started">{{ stats.Overall }}</td>
                                    <td class="miniMinerTable" v-show="currentState.statFlags.started">{{ wattage }} W</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- this is a big miner -->
                <div v-if="exp" class="col-sm-12 col-xs-12">
                    <div class="panel miner-panel">
                        <div v-bind:style="style.minerStyle" class="panel-heading panel-heading-miner">
                            <div v-if="changName" class="flex-position nbsp">
                                <input v-model="rigName" v-on:keyup.enter="changeName" class="inputName">
                                <div class="btn-group">
                                    <button v-on:click="changeName" class="btn"><i class="fa fa-check"></i></button>
                                    <button v-on:click="stopChangeRigName" class="btn"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div v-if="!changName" v-on:click.self="resize" title="Reduce" class="Name">
                                <button v-if="update.version!==update.currentVersion && !update.flags.clicked" v-on:click="updateMinerVersion" class="btn" title="Update that rig">
                                    <i class="fa fa-cloud-download-alt"></i>
                                </button>
                                <i v-show="update.flags.clicked" class="fa fa-gear spinner"></i>
                                {{ (update.version/100).toFixed(2) }}
                                <button v-if="!changName" v-on:click="changeRigName" class="btn" title="Change rig name"><i class="fa fa-desktop"></i></button>
                                {{ rigName }}
                            </div>
                            <div v-show="currentState.info !== ''" class="stateInfo"> {{ currentState.info }} </div>
                            <div class="miner-btn-group">
                                <button v-show="currentState.statFlags.isAlive" v-on:click="resetMinerAlert" class="btn" title="Reboot that rig"><i class="fa fa-refresh"></i></button>
                                <button v-show="currentState.buttons.loop" v-on:click="displayLoopOutput" class="btn" title="Display claymore output"><i class="fa fa-search"></i></button>
                                <button v-show="currentState.buttons.chart" v-on:click="displayChart" class="btn" title="Switch view"><i class="fa fa-line-chart"></i></button>
                                <button v-show="currentState.buttons.stop" v-on:click="stopMining" class="btn" title="Stop mining"><i class="fa fa-pause-circle"></i></button>
                                <button v-show="currentState.buttons.play" v-on:click="startMining" class="btn" title="Start mining"><i class="fa fa-play-circle"></i></button>
                                <button v-show="currentState.buttons.settings" v-on:click="displaySettings" class="btn" title="Display settings"><i class="fa fa-gear"></i></button>
                            </div>
                        </div>

                        <div class="panel-body miner-panel-body">
                            <!-- stats -->
                            <div v-if="chart.flags.chartDisplayed">
                                <StatsChart
                                            v-bind:RigId="rig.Rig.UUID"
                                            v-bind:timeRange="chart.values.timeRange"
                                ></StatsChart>
                                <div>
                                    <button v-on:click="set10mChart" v-bind:style="style.chartbtn[0]" class="miner-btn-chart">1h chart</button>
                                    <button v-on:click="set20mChart" v-bind:style="style.chartbtn[1]" class="miner-btn-chart">4h chart</button>
                                    <button v-on:click="set1hChart" v-bind:style="style.chartbtn[2]" class="miner-btn-chart">24h chart</button>
                                    <button v-on:click="set2hChart" v-bind:style="style.chartbtn[3]" class="miner-btn-chart">7d chart</button>
                                    <button v-on:click="set12hChart" v-bind:style="style.chartbtn[4]" class="miner-btn-chart">30d chart</button>
                                </div>
                            </div>
                            <!-- settings -->
                            <div v-if="settings.flags.settingsDisplayed">
                                <div class="panel userpanel-panel" style="border-top-color: #db3236!important;">
                                    <div class="panel-body userpanel-content">
                                        <div class="userpanel-header" style="color: #db3236!important;">
                                            <div>Profile</div>
                                        </div>
                                        <!-- email -->
                                        <table class="table">
                                            <tr>
                                                <td class="ultraSmallColumn"><i class="fa fa-wallet"></i></td>
                                                <td>{{ settings.data.currentProfile.WalletValue }}</td>
                                            </tr>
                                            <tr>
                                                <td class="ultraSmallColumn"><i class="fa fa-swimming-pool"></i></td>
                                                <td>{{ settings.data.currentProfile.PoolName }}:{{ settings.data.currentProfile.PoolPort }}</td>
                                            </tr>
                                            <tr>
                                                <td class="ultraSmallColumn"><i class="fa fa-user-circle"></i></td>
                                                <td>{{ settings.data.currentProfile.Name}}</td>
                                            </tr>
                                        </table>
                                        <div class="userpanel-dropdown">
                                            <div v-on:click="profileDropDown" class="miner-dropdown-button">Choose profile</div>
                                            <transition name="fade">
                                                <div v-if="settings.flags.profileDrop" id="dropdown" class="userpanel-dropdown-content" v-on:mouseleave="profileDropDown">
                                                    <input placeholder="Search..." class="userpanel-dropdown-input" v-model="settings.data.queryProfile" v-on:keyup.enter="profileDropDown">
                                                    <div v-for="(profile, index) in settings.data.profiles">
                                                        <div v-on:click="chooseDropDownProfile(index)" v-show="settings.flags.shownProfiles[index]" style="cursor: pointer;">{{profile.ProfileName}}</div>
                                                    </div>
                                                </div>
                                            </transition>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel userpanel-panel" style="border-top-color: #3cba54!important;">
                                    <div class="panel-body userpanel-content">
                                        <div class="userpanel-header"  style="color: #3cba54!important;">
                                            <div>Tags</div>
                                        </div>
                                        <!-- email -->
                                        <div style="overflow-x: auto!important;">
                                        <table class="" style="float: left;">
                                            <tr v-for="(tag, index) in settings.data.tags">
                                                <td>#</td>
                                                <td>{{ tag }} </td>
                                                <td><button class="btn" style="margin-left: 6px"><i v-on:click="removeTag(index)" class="fa fa-trash"></i></button></td>
                                            </tr>
                                        </table>
                                        </div>
                                        <div style="float: right;">
                                            <div class="flex-position">
                                                <input placeholder="Add new tag here..." class="userpanel-search" v-model="settings.data.newtag" v-on:keyup.enter="addTag">
                                                <div v-on:click="addTag" class="miner-submit">Add</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- overclocking -->
                            <table v-if="!chart.flags.chartDisplayed&&!settings.flags.settingsDisplayed" class="table">
                                <thead>
                                <tr class="lightMeUp" v-on:click="sliders">
                                    <th>Total Cards</th>
                                    <th>{{ stats.Overall }} MH/sec</th>
                                    <th>Temp (&deg;C)</th>
                                    <th>Fan Speed</th>
                                    <th>Power Limit</th>
                                    <th>Memory Offset</th>
                                    <th>Core clock</th>
                                    <th>Voltage</th>
                                </tr>
                                <tr v-if="slidersAll">
                                    <td colspan="8">
                                        <table class="table">
                                            <tr>
                                                <td class="miner-slider"><vue-slider v-model="parameters.tmpFanSpeed"></vue-slider></td>
                                                <td class="mediumColumn">Fan speed [%]: </td>
                                                <td class="smallColumn"><input class="userpanel-editform" type="number" v-model="parameters.tmpFanSpeed"></td>
                                            </tr>
                                            <tr>
                                                <td class="miner-slider"><vue-slider v-model="parameters.tmpMemOffset" v-bind:min="0" v-bind:max="3000"></vue-slider></td>
                                                <td class="mediumColumn">Memory offset [Mhz]: </td>
                                                <td class="smallColumn"><input class="userpanel-editform" type="number" v-model="parameters.tmpMemOffset"></td>
                                            </tr>
                                            <tr>
                                                <td class="miner-slider"><vue-slider v-model="parameters.tmpCoreClock" v-bind:min="0" v-bind:max="3000"></vue-slider></td>
                                                <td class="mediumColumn">Core clock [Mhz]: </td>
                                                <td class="smallColumn"><input class="userpanel-editform" type="number" v-model="parameters.tmpCoreClock"></td>
                                            </tr>
                                            <tr>
                                                <td class="miner-slider"><vue-slider v-model="parameters.tmpPowerLimit" v-bind:min="0" v-bind:max="200"></vue-slider></td>
                                                <td class="mediumColumn">Power limit [WATT]: </td>
                                                <td class="smallColumn"><input class="userpanel-editform" type="number" v-model="parameters.tmpPowerLimit"></td>
                                            </tr>
                                            <tr>
                                                <td class="miner-slider"><vue-slider v-model="parameters.tmpVoltage" v-bind:min="0" v-bind:max="2" v-bind:interval="0.001"></vue-slider></td>
                                                <td class="mediumColumn">Voltage [V]: </td>
                                                <td class="smallColumn"><input class="userpanel-editform" type="number" v-model="parameters.tmpVoltage"></td>
                                            </tr>
                                        </table>
                                        <div>
                                            <button v-on:click="changeAllValues(-1, false)" class="userpanel-dropdown-button" style="float: right;">Submit</button>
                                        </div>
                                    </td>
                                </tr>
                                </thead>
                                <tbody v-for="(GpuDevice,index) in rig.GpuDevices">
                                <tr class="lightMeUp" v-bind:style="style.popStyleOne[index]" v-on:click="slider(index)">
                                    <td>{{ index+1 }}. {{ GpuDevice.GpuDevice.Model }}</td>
                                    <td><div v-show="currentState.statFlags.started" v-for="(card, index2) in stats.PerCard" v-if="index===index2">{{ card.Mhs }} MH/sec</div></td>
                                    <td><div v-show="currentState.statFlags.started" v-for="(card, index2) in stats.PerCard" v-if="index===index2">{{ card.Temp }} </div></td>
                                    <td><div v-show="!GpuDevice.GpuDevice.Flashed">{{ GpuDevice.GpuParams.FanSpeed }}</div><div v-show="GpuDevice.GpuDevice.Flashed">---</div></td>
                                    <td><div v-show="!GpuDevice.GpuDevice.Flashed">{{ GpuDevice.GpuParams.PowerLimit }}</div><div v-show="GpuDevice.GpuDevice.Flashed">---</div></td>
                                    <td><div v-show="!GpuDevice.GpuDevice.Flashed">{{ GpuDevice.GpuParams.MemOffset }}</div><div v-show="GpuDevice.GpuDevice.Flashed">---</div></td>
                                    <td><div v-show="!GpuDevice.GpuDevice.Flashed">{{ GpuDevice.GpuParams.CoreClock }}</div><div v-show="GpuDevice.GpuDevice.Flashed">---</div></td>
                                    <td><div v-show="!GpuDevice.GpuDevice.Flashed">{{ GpuDevice.GpuParams.Voltage }}</div><div v-show="GpuDevice.GpuDevice.Flashed">---</div></td>
                                </tr>
                                <tr v-if="slidersOne[index]">
                                    <td colspan="8">
                                        <table v-if="!flash.flags.displayFlash[index]&&!GpuDevice.GpuDevice.Flashed" class="table">
                                            <tr>
                                                <td class="miner-slider"><vue-slider v-model="parameters.tmpFanSpeed"></vue-slider></td>
                                                <td class="mediumColumn">Fan speed [%]: </td>
                                                <td class="smallColumn"><input class="userpanel-editform" type="number" v-model="parameters.tmpFanSpeed"></td>
                                            </tr>
                                            <tr>
                                                <td class="miner-slider"><vue-slider v-model="parameters.tmpMemOffset" v-bind:min="0" v-bind:max="3000"></vue-slider></td>
                                                <td class="mediumColumn">Memory offset [Mhz]: </td>
                                                <td class="smallColumn"><input class="userpanel-editform" type="number" v-model="parameters.tmpMemOffset"></td>
                                            </tr>
                                            <tr>
                                                <td class="miner-slider"><vue-slider v-model="parameters.tmpCoreClock" v-bind:min="0" v-bind:max="3000"></vue-slider></td>
                                                <td class="mediumColumn">Core clock [Mhz]: </td>
                                                <td class="smallColumn"><input class="userpanel-editform" type="number" v-model="parameters.tmpCoreClock"></td>
                                            </tr>
                                            <tr>
                                                <td class="miner-slider"><vue-slider v-model="parameters.tmpPowerLimit" v-bind:min="0" v-bind:max="200"></vue-slider></td>
                                                <td class="mediumColumn">Power limit [WATT]: </td>
                                                <td class="smallColumn"><input class="userpanel-editform" type="number" v-model="parameters.tmpPowerLimit"></td>
                                            </tr>
                                            <tr>
                                                <td class="miner-slider"><vue-slider v-model="parameters.tmpVoltage" v-bind:min="0" v-bind:max="2" v-bind:interval="0.001"></vue-slider></td>
                                                <td class="mediumColumn">Voltage [V]: </td>
                                                <td class="smallColumn"><input class="userpanel-editform" type="number" v-model="parameters.tmpVoltage"></td>
                                            </tr>
                                        </table>
                                        <div v-if="flash.flags.displayFlash[index]||GpuDevice.GpuDevice.Flashed">
                                            <div class="flex-position" style="justify-content: space-between;">
                                                <div style="width: 70%;">
                                                    <div class="flex-position" style="justify-content: space-between;">
                                                        <div class="userpanel-header" style="color: #4885ed!important;">Bios</div>
                                                        <input v-model="flash.data.query" class="userpanel-search" type="text" placeholder="Search...">
                                                    </div>
                                                    <div class="miner-flash-table">
                                                    <table class="table">
                                                        <tr>
                                                            <th class="mediumColumn">Name</th>
                                                            <th>Description</th>
                                                            <th class="mediumerColumn">Actions</th>
                                                        </tr>
                                                        <tbody v-for="(bios, index2) in flash.data.bioslist">
                                                        <tr v-show="flash.flags.shown[index2]">
                                                            <td>
                                                                {{ bios.Name }}
                                                            </td>
                                                            <td>
                                                                {{ bios.Description }}
                                                            </td>
                                                            <td style="float: right;">
                                                                <button v-show="flash.flags.cloud[index2]" class="btn"><i v-on:click="flashCard(index, index2)" class="fa fa-cloud-download-alt"></i></button>
                                                                <i style="color: #4885ed" v-show="!flash.flags.cloud[index2]" class="fa fa-gear spinner"></i>
                                                                <button v-on:click="deleteBios(index2)" class="btn"><i class="fa fa-trash"></i></button>
                                                            </td>
                                                        </tr>
                                                        <tr v-show="event.flags.flashErr[index2]">
                                                            <td colspan="2" class="faerr">
                                                                {{ event.data.flashErr }}
                                                            </td>
                                                            <td style="float: right;">
                                                                <button v-on:click="closeFlashErr(index2)" class="btn"><i class="fa fa-times faerr"></i></button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    </div>
                                                </div>
                                                <div class="miner-upload-box">
                                                    <upload
                                                        v-on:upload="getBiosList"
                                                        v-bind:pci="GpuDevice.Model"
                                                    ></upload>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="miner-buttons">
                                            <button v-show="!flash.flags.displayFlash[index]&&!GpuDevice.GpuDevice.Flashed" v-on:click="changeValues(index, false)" class="userpanel-dropdown-button" style="float: right;">Submit</button>
                                            <button v-show="flash.flags.displayFlash[index]||GpuDevice.GpuDevice.Flashed" v-on:click="fluenOC(index)" class="userpanel-dropdown-button" style="float: right;">{{ flash.data.flashed[index] }}</button>
                                            <button v-show="!GpuDevice.GpuDevice.Flashed" v-on:click="displayFlashing(index)" class="userpanel-dropdown-button" style="float: left;">{{ flash.data.btn[index] }}</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>
    // chart
    import StatsChart from "./StatsChart.js"
    // sliders
    import vueSlider from 'vue-slider-component';
    import upload from './upload.vue';


    export default {
        props: {
            rig: Object,
            logged: Boolean,
            profiles: Array,
            checkLoop: String,
        },
        data() {
            return {
                // booleans
                slidersAll: false,
                slidersOne: [],
                changName: false,
                loopOutputClicked: false,
                exp: false,
                // parameters
                parameters: {
                    tmpFanSpeed: "",
                    tmpMemOffset: "",
                    tmpPowerLimit: "",
                    tmpVoltage: "",
                    tmpCoreClock: "",
                    fanSpeed: "",
                    memOffset: "",
                    powerLimit: "",
                    voltage: "",
                    coreClock: "",
                },
                // interval IDs / index
                statsId: null,
                isAliveId: null,
                checkSliders: "",
                // stats
                stats: {},
                counter: 0,
                blueCounter: 0,
                currentState: {
                    color: "blue",
                    buttons: {
                        loop: false,
                        chart: false,
                        play: false,
                        stop: false,
                        settings: false,
                    },
                    info: "",
                    statFlags: {
                        firstRun: false,
                        warmingUp: false,
                        started: false,
                        isAlive: false,
                    },
                },
                rigName: "",
                // styles
                style: {
                    minerStyle: "background-color: #606060!important;\n" +
                        "        border-color: #303030!important;",
                    tmpPopStyle: "",
                    popStyleOne: [],
                    chartbtn: ["color: #3cba54; border-color: #3cba54;", "", "", "", ""]
                },
                // flash
                flash: {
                    flags: {
                        displayFlash: [],
                        shown: [],
                        cloud: [],
                        flashed: [],
                    },
                    data: {
                        bioslist: [],
                        btn: [],
                        flashed: [],
                    }
                },
                // event handler
                event: {
                    flags: {
                        flashErr: [],
                    },
                    data: {
                        flashErr: ""
                    },
                    eventListener: null,
                    eventList: [],
                },
                // chart
                chart: {
                    flags: {
                        chartDisplayed: false,
                    },
                    values: {
                        timeRange: "3600",
                    },
                },
                // wattage init
                wattage: 0,
                // update
                update: {
                    updateInfo: "",
                    version: 0,
                    currentVersion: 0,
                    flags: {
                        clicked: false,
                    }
                },
                // settings
                settings: {
                    flags: {
                        settingsDisplayed: false,
                        shownProfiles: [],
                        profileDrop: false,
                    },
                    data: {
                        queryProfile: "",
                        profiles: [],
                        tags: [],
                        newtag: "",
                        currentProfile: "",
                    }
                },
            }
        },

        components: {
            vueSlider,
            StatsChart,
            upload,
        },

        created() {
            this.$session.set("settings", false);

            this.getCurrentProfile();

            this.parameters.tmpFanSpeed = "";
            this.parameters.tmpMemOffset = "";
            this.parameters.tmpCoreClock = "";
            this.parameters.tmpPowerLimit = "";
            this.parameters.tmpVoltage = "";

            this.rigName = this.rig.Rig.Name;

            this.getLatestVersion();

            this.sortDevices();

            this.slidersOne = new Array(this.rig.GpuDevices.length).fill(false);
            this.style.popStyleOne = new Array(this.rig.GpuDevices.length).fill("");
            this.flash.flags.displayFlash = new Array(this.rig.GpuDevices.length).fill(false);
            this.flash.data.btn = new Array(this.rig.GpuDevices.length).fill("Flash me");
            this.flash.data.flashed = new Array(this.rig.GpuDevices.length);
            this.flash.flags.flashed = new Array(this.rig.GpuDevices.length);
            for (let i = 0; i < this.rig.GpuDevices.length; i++) {
                if (this.rig.GpuDevices[i].GpuDevice.Flashed) {
                    this.flash.data.flashed[i] = "Enable FluenOC"
                } else {
                    this.flash.data.flashed[i] = "Disable FluenOC"
                }
            }
            for (let i = 0; i < this.rig.GpuDevices.length; i++) {
                if (this.rig.GpuDevices[i].GpuDevice.Flashed) {
                    this.flash.flags.flashed[i] = "FALSE";
                    this.flash.flags.displayFlash[i] = true;
                    this.flash.data.btn[i] = "Sliders";
                } else {
                    this.flash.flags.flashed[i] = "TRUE";
                }
            }
        },

        mounted() {
            this.checkIsAliveLoop();
        },

        watch: {

            profiles() {
                this.getCurrentProfile();
                this.$forceUpdate();
            },

            checkLoop() {
                if (this.checkLoop !== "" && this.checkLoop !== this.rig.Rig.UUID) {
                    this.loopOutputClicked = false;
                }
            },

            'flash.data.query' () {
                let re = new RegExp(this.flash.data.query.toLowerCase());
                for (let i = 0; i < this.flash.data.bioslist.length; i++) {
                    if (re.exec(this.flash.data.bioslist[i].Name.toLowerCase())) {
                        this.flash.flags.shown[i] = true;
                    } else {
                        this.flash.flags.shown[i] = false;
                    }
                }
                this.$forceUpdate();
            },

            'settings.data.queryProfile' () {
                let re = new RegExp(this.settings.data.queryProfile.toLowerCase());
                for (let i = 0; i < this.settings.data.profiles.length; i++) {
                    if (re.exec(this.settings.data.profiles[i].ProfileName.toLowerCase())) {
                        this.settings.flags.shownProfiles[i] = true;
                    } else {
                        this.settings.flags.shownProfiles[i] = false;
                    }
                }
                this.$forceUpdate();
            }
        },

        methods: {

            sortDevices() {
                this.rig.GpuDevices.sort(function compare(a, b) {
                    if (a.GpuDevice.Pci < b.GpuDevice.Pci)
                        return -1;
                    if (a.GpuDevice.Pci > b.GpuDevice.Pci)
                        return 1;
                    return 0;
                });
                this.$forceUpdate();
            },

            fluenOC(index) {
                let _this = this;

                $.ajax({
                    url: '/api/miner/markflashed',
                    type: 'get',
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": _this.rig.Rig.UUID
                    },
                    data: {
                        deviceId: _this.rig.GpuDevices[index].GpuDevice.Id,
                        boolFlash: _this.flash.flags.flashed[index],
                    },
                    success() {
                        if (_this.flash.flags.flashed[index] === "TRUE") {
                            _this.flash.data.flashed[index] = "Enable FluenOC";
                            _this.flash.flags.flashed[index] = "FALSE";
                            _this.rig.GpuDevices[index].GpuDevice.Flashed = true;
                            _this.$emit("rigChanged", _this.rig)
                        } else {
                            _this.flash.data.flashed[index] = "Disable FluenOC";
                            _this.flash.flags.flashed[index] = "TRUE";
                            _this.rig.GpuDevices[index].GpuDevice.Flashed = false;
                            _this.$emit("rigChanged", _this.rig)
                        }
                        _this.sortDevices();
                    }
                })
            },

            getBiosList() {
                let _this = this;

                $.ajax({
                    url: '/api/miner/bioslist',
                    type: 'get',
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": _this.rig.Rig.UUID
                    },
                    success(data) {
                        data.sort(function compare(a, b) {
                            if (a.Name < b.Name)
                                return -1;
                            if (a.Name > b.Name)
                                return 1;
                            return 0;
                        });
                        _this.flash.data.bioslist = data;
                        _this.flash.flags.shown = new Array(data.length).fill(true);
                        _this.flash.flags.cloud = new Array(data.length).fill(true);
                        _this.event.flags.flashErr = new Array(data.length).fill(false);
                        _this.$forceUpdate()
                    }
                })
            },

            deleteBios(index) {
                let _this = this;

                if (confirm("Do your really want to delete that bios?\n" +
                        "Press OK if you wish to reset it or Cancel to abort action")) {

                    $.ajax({
                        url: '/api/miner/deletebios',
                        type: 'get',
                        data: {
                            biosId: _this.flash.data.bioslist[index].Id,
                        },
                        headers: {
                            "fluen-key": _this.$session.get("fluenKey"),
                            "email": _this.$session.get("email"),
                            "rigid": _this.rig.Rig.UUID
                        },
                        success() {
                            _this.getBiosList();
                            _this.$forceUpdate();
                        }
                    })
                }
            },

            flashCard(index1, index2) {
                let _this = this;

                if (confirm("Do your really want to flash this card? After flashing your rig will reboot.\n" +
                        "Press OK if you wish to reset it or Cancel to abort action")) {

                    this.flash.flags.cloud[index2] = false;

                    $.ajax({
                        url: '/api/miner/flash',
                        type: 'get',
                        data: {
                            pci: _this.rig.GpuDevices[index1].GpuDevice.Pci,
                            biosId: _this.flash.data.bioslist[index2].Id
                        },
                        headers: {
                            "fluen-key": _this.$session.get("fluenKey"),
                            "email": _this.$session.get("email"),
                            "rigid": _this.rig.Rig.UUID
                        },
                        success() {
                            _this.$emit("rigChanged", _this.rig);
                            _this.eventList("error", "flash", Math.floor((new Date().getTime()) / 1000), index2);
                            _this.sortDevices();
                            _this.$forceUpdate()
                        }
                    })
                }
            },

            closeFlashErr(index) {
                this.event.flags.flashErr[index] = false;
                clearInterval(this.event.eventListener);
            },

            displayFlashing(index) {
                this.flash.flags.displayFlash[index] = !this.flash.flags.displayFlash[index];
                if (this.flash.flags.displayFlash[index]) {
                    this.flash.data.btn[index] = "Sliders";
                    this.getBiosList();
                } else {
                    this.flash.data.btn[index] = "Flash me"
                }
            },

            eventList(type, name, time, index) {
                let _this = this;

                this.event.eventListener = setInterval(function() {
                    $.ajax({
                        url: '/api/miner/eventlist',
                        type: 'get',
                        data: {
                            type: type,
                            name: name,
                            time: time,
                        },
                        headers: {
                            "fluen-key": _this.$session.get("fluenKey"),
                            "email": _this.$session.get("email"),
                            "rigid": _this.rig.Rig.UUID
                        },
                        success(data) {
                            _this.event.eventList = data;
                            _this.checkFlashErr(index);
                        }
                    });
                    if (!_this.$session.get("logged")) {
                        clearInterval(_this.event.eventListener)
                    }
                }.bind(_this), 5000)
            },

            checkFlashErr(index) {
                for (let i = 0; i < this.event.eventList.length; i++) {
                    if (this.event.eventList[i].Type === "error" && this.event.eventList[i].Name === "flash") {
                        this.event.flags.flashErr[index] = true;
                        this.event.data.flashErr = this.event.eventList[i].Value;
                        this.flash.flags.cloud[index] = true;
                        this.$forceUpdate();
                    }
                }
            },

            /**********/
            /**********/ /**********/ /**********/
            /* charts */
            /* charts */ /* charts */ /* charts */
            /**********/
            /**********/ /**********/ /**********/
            set10mChart() {
                this.chart.values.timeRange = "3600";
                this.style.chartbtn.fill("");
                this.style.chartbtn[0] = "color: #3cba54; border-color: #3cba54;";
                this.$forceUpdate();
            },

            set20mChart() {
                this.chart.values.timeRange = "14400";
                this.style.chartbtn.fill("");
                this.style.chartbtn[1] = "color: #3cba54; border-color: #3cba54;";
                this.$forceUpdate();
            },

            set1hChart() {
                this.chart.values.timeRange = "86400";
                this.style.chartbtn.fill("");
                this.style.chartbtn[2] = "color: #3cba54; border-color: #3cba54;";
                this.$forceUpdate();
            },

            set2hChart() {
                this.chart.values.timeRange = "604800";
                this.style.chartbtn.fill("");
                this.style.chartbtn[3] = "color: #3cba54; border-color: #3cba54;";
                this.$forceUpdate()
            },

            set12hChart() {
                this.chart.values.timeRange = "2592000";
                this.style.chartbtn.fill("");
                this.style.chartbtn[4] = "color: #3cba54; border-color: #3cba54;";
                this.$forceUpdate();
            },

            displayChart() {
                this.chart.flags.chartDisplayed = !this.chart.flags.chartDisplayed;
                if (this.chart.flags.chartDisplayed) {
                    this.settings.flags.settingsDisplayed = false;
                }
            },

            /**********/
            /**********/ /**********/ /**********/
            /*settings*/
            /*settings*/ /*settings*/ /*settings*/
            /**********/
            /**********/ /**********/ /**********/

            displaySettings() {
                this.settings.flags.settingsDisplayed = !this.settings.flags.settingsDisplayed;
                if (this.settings.flags.settingsDisplayed) {
                    this.chart.flags.chartDisplayed = false;
                    this.getRigTagList();
                    this.getProfiles()
                }
            },

            profileDropDown() {
                this.settings.flags.profileDrop = !this.settings.flags.profileDrop;
                this.settings.data.queryProfile = "";
            },

            /******/
            /******/ /******/ /******/ /******/ /******/
            /*tags*/
            /*tags*/ /*tags*/ /*tags*/ /*tags*/ /*tags*/
            /******/
            /******/ /******/ /******/ /******/ /******/

            addTag() {
                let _this = this;

                if (this.settings.data.tags !== null) {
                    for (let i = 0; i < this.settings.data.tags.length; i++) {
                        if (this.settings.data.tags[i] === this.settings.data.newtag) {
                            alert("Tag: '" + this.settings.data.newtag + "' already exists on that rig");
                            return;
                        }
                    }
                }

                $.ajax({
                    url: '/api/miner/addtag',
                    type: 'get',
                    data: {
                        rigId: _this.rig.Rig.UUID,
                        email: _this.$session.get("email"),
                        tag: _this.settings.data.newtag,
                    },
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": _this.rig.Rig.UUID
                    },
                    success() {
                        _this.getRigTagList();
                        _this.settings.data.newtag = "";
                    }
                })
            },

            removeTag(index) {
                let _this = this;

                if (confirm("Do your really want to remove tag: " + _this.settings.data.tags[index] + "?\n" +
                        "Press OK if you wish to reset it or Cancel to abort action")) {

                    $.ajax({
                        url: '/api/miner/removetag',
                        type: 'get',
                        data: {
                            rigId: _this.rig.Rig.UUID,
                            tag: _this.settings.data.tags[index],
                        },
                        headers: {
                            "fluen-key": _this.$session.get("fluenKey"),
                            "email": _this.$session.get("email"),
                            "rigid": _this.rig.Rig.UUID
                        },
                        success() {
                            _this.getRigTagList();
                            _this.$forceUpdate();
                        }
                    })
                }
            },

            getRigTagList() {
                let _this = this;

                $.ajax({
                    url: '/api/miner/rigtaglist',
                    type: 'get',
                    data: {
                        rigId: _this.rig.Rig.UUID,
                    },
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": _this.rig.Rig.UUID
                    },
                    success(data) {
                        _this.settings.data.tags = data;
                        _this.settings.data.tags.sort(function(a, b) {
                            if (a < b)
                                return -1;
                            if (a > b)
                                return 1;
                            return 0;
                        });
                        _this.$forceUpdate();
                    }
                })
            },

            /*********/
            /*********/ /*********/ /*********/
            /*profile*/
            /*profile*/ /*profile*/ /*profile*/
            /*********/
            /*********/ /*********/ /*********/

            getLatestVersion() {
                let _this = this;

                $.ajax({
                    url: '/api/sex/latestversion',
                    type: 'get',
                    success: function(data) {
                        _this.update.currentVersion = data;
                    }
                })
            },

            getCurrentProfile() {
                let _this = this;
                $.ajax({
                    url: '/api/miner/rigprofile',
                    type: 'get',
                    data: {
                        rigId: _this.rig.Rig.UUID,
                        email: _this.$session.get("email"),
                    },
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": _this.rig.Rig.UUID
                    },
                    success: function(data) {
                        _this.settings.data.currentProfile = data;
                        _this.$forceUpdate();
                    }
                })
            },

            chooseDropDownProfile(index) {
                this.settings.data.queryProfile = this.settings.data.profiles[index];
                this.setMinerProfile()
            },

            setMinerProfile() {
                let _this = this;

                let profile = this.settings.data.queryProfile.ProfileId;

                $.ajax({
                        url: '/api/miner/setrigprofile',
                        type: 'get',
                        data: {
                            rigId: _this.rig.Rig.UUID,
                            profileId: profile
                        },
                        headers: {
                            "fluen-key": _this.$session.get("fluenKey"),
                            "email": _this.$session.get("email"),
                            "rigid": _this.rig.Rig.UUID
                        },
                        success: function() {
                            _this.getCurrentProfile();
                            _this.settings.flags.profileDrop = false;
                            _this.settings.data.queryProfile = "";
                        }
                    })
                    .done(function() {
                        _this.$forceUpdate();
                    });
            },

            getProfiles() {
                let _this = this;

                $.ajax({
                    url: '/api/miner/profilelist?email=' + _this.$session.get("email"),
                    type: 'get',
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": "-1"
                    },
                    success: function(data) {
                        _this.settings.data.profiles = data;
                        _this.sortUserProfile(_this.settings.data.profiles);
                        _this.settings.flags.shownProfiles = new Array(data.length).fill(true);
                    }
                })
            },

            sortUserProfile(array) {
                array.sort(function(a, b) {
                    if (a.ProfileId < b.ProfileId)
                        return -1;
                    if (a.ProfileId > b.ProfileId)
                        return 1;
                    return 0;
                });
            },

            /*******/
            /*******/ /*******/ /*******/ /*******/ /*******/
            /*miner*/
            /*miner*/ /*miner*/ /*miner*/ /*miner*/ /*miner*/
            /*******/
            /*******/ /*******/ /*******/ /*******/ /*******/

            setStyle() {
                if (this.currentState.color == "red") {
                    this.style.minerStyle = "background-color: #db3236!important;\n" +
                        "        border-color: #ca2125!important;";
                    this.style.tmpPopStyle = "background-color: lightgoldenrodyellow!important;";
                } else if (this.currentState.color == "yellow")
                    this.style.minerStyle = "background-color: #f4c20d!important;\n" +
                    "        border-color: #e3b10c!important;";
                else if (this.currentState.color == "blue") {
                    this.style.minerStyle = "background-color: #4885ed!important;\n" +
                        "        border-color: #3774dc!important;";
                    this.style.tmpPopStyle = "background-color: lightgoldenrodyellow!important;";
                } else if (this.currentState.color == "black") {
                    this.style.minerStyle = "background-color: #606060!important;\n" +
                        "        border-color: #303030!important;";
                    this.style.tmpPopStyle = "";
                }
            },

            startMining: function() {
                let _this = this;
                this.counter = 0;
                this.blueCounter = 0;

                _this.currentState = {
                    color: "yellow",
                    buttons: {
                        loop: false,
                        chart: false,
                        play: false,
                        stop: false,
                        settings: false,
                    },
                    info: "Preparing...",
                    statFlags: {
                        firstRun: false,
                        warmingUp: true,
                        started: false,
                        isAlive: true,
                    }
                };
                _this.setStyle();
                _this.$forceUpdate();

                $.ajax({
                    url: '/api/miner/run',
                    type: 'get',
                    data: {
                        rigId: _this.rig.Rig.UUID,
                        miner: "claymore"
                    },
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": _this.rig.Rig.UUID
                    },
                });
            },

            stopMining: function() {
                let _this = this;
                this.counter = 0;
                this.blueCounter = 0;

                _this.currentState = {
                    color: "red",
                    buttons: {
                        loop: false,
                        chart: false,
                        play: false,
                        stop: false,
                        settings: false,
                    },
                    info: "Turning off...",
                    statFlags: {
                        firstRun: false,
                        warmingUp: false,
                        started: false,
                        isAlive: true,
                    }
                };
                _this.setStyle();
                _this.$forceUpdate();

                _this.$emit("seeOutput", false);

                $.ajax({
                    url: '/api/miner/stop',
                    type: 'get',
                    data: {
                        rigId: _this.rig.Rig.UUID,
                        miner: "claymore"
                    },
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": _this.rig.Rig.UUID
                    },
                });
            },

            resetMiner() {
                let _this = this;

                $.ajax({
                    url: '/api/miner/restart',
                    type: 'get',
                    data: {
                        rigId: _this.rig.Rig.UUID,
                    },
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": _this.rig.Rig.UUID
                    },
                });

                clearInterval(_this.statsId);
                _this.counter = 0;
                _this.$emit("seeOutput", false);
                _this.exp = false;
                _this.currentState = {
                    color: "black",
                    buttons: {
                        loop: false,
                        chart: false,
                        play: false,
                        stop: false,
                        settings: false,
                    },
                    info: "",
                    statFlags: {
                        firstRun: true,
                        warmingUp: false,
                        started: false,
                        isAlive: false,
                    }
                };
                _this.setStyle();
                _this.$forceUpdate();
            },

            resetMinerAlert() {
                if (confirm("Do your really want to reboot this rig?\n" +
                        "Press OK if you wish to reset it or Cancel to abort action")) {
                    this.resetMiner()
                }
            },

            displayLoopOutput() {
                this.loopOutputClicked = !this.loopOutputClicked;
                if (this.loopOutputClicked) {
                    this.$emit("rigId", this.rig.Rig.UUID);
                    this.$emit("seeOutput", true);
                } else {
                    this.$emit("seeOutput", false);
                }

            },

            getStatsLoop() {
                let _this = this;

                $.ajax({
                    url: '/api/miner/stats?rigId=' + _this.rig.Rig.UUID + '&email=' + _this.$session.get("email") + '&fluen=' + _this.$session.get("fluenKey"),
                    type: 'get',
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": _this.rig.Rig.UUID
                    },
                    success: function(data) {

                        if (data.PerCard !== null) {
                            data.PerCard.sort(function compare(a, b) {
                                if (a.Id < b.Id)
                                    return -1;
                                if (a.Id > b.Id)
                                    return 1;
                                return 0;
                            });
                        }

                        _this.stats = data;
                    }
                });

                setTimeout(function() {
                    _this.getStats();
                    _this.statsId = setInterval(function() {
                        _this.getStats();
                    }.bind(_this), 1000);
                }, Math.random() * 1000);
            },

            getStats() {
                let _this = this;

                if (!this.$session.get("logged") || this.$session.get("settings")) {
                    clearInterval(this.statsId)
                }

                $.ajax({
                    url: '/api/miner/stats?rigId=' + _this.rig.Rig.UUID + '&email=' + _this.$session.get("email") + '&fluen=' + _this.$session.get("fluenKey"),
                    type: 'get',
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": _this.rig.Rig.UUID
                    },
                    success: function(data) {

                        if (data.PerCard !== null) {
                            data.PerCard.sort(function compare(a, b) {
                                if (a.Id < b.Id)
                                    return -1;
                                if (a.Id > b.Id)
                                    return 1;
                                return 0;
                            });
                        }

                        if (JSON.stringify(_this.stats.Overall) === JSON.stringify(data.Overall)) {
                            _this.counter++;
                            _this.blueCounter = 0;
                        } else {
                            _this.blueCounter++;
                            if (_this.blueCounter > 2) {
                                _this.currentState = {
                                    color: "blue",
                                    buttons: {
                                        loop: true,
                                        chart: true,
                                        play: false,
                                        stop: true,
                                        settings: true,
                                    },
                                    info: "",
                                    statFlags: {
                                        firstRun: false,
                                        warmingUp: false,
                                        started: true,
                                        isAlive: true,
                                    }
                                };
                                _this.counter = 0;
                                _this.blueCounter = 0;
                                _this.setStyle();
                                _this.$forceUpdate();
                            }
                        }
                        if (_this.currentState.statFlags.firstRun && _this.counter > 5) {
                            _this.currentState = {
                                color: "red",
                                buttons: {
                                    loop: true,
                                    chart: true,
                                    play: true,
                                    stop: false,
                                    settings: true,
                                },
                                info: "",
                                statFlags: {
                                    firstRun: false,
                                    warmingUp: false,
                                    started: false,
                                    isAlive: true,
                                }
                            };
                            _this.counter = 0;
                            _this.setStyle();
                            _this.$forceUpdate();
                        } else if (!_this.currentState.statFlags.firstRun && _this.currentState.statFlags.warmingUp && _this.counter > 30) {
                            _this.currentState = {
                                color: "red",
                                buttons: {
                                    loop: true,
                                    chart: true,
                                    play: true,
                                    stop: false,
                                    settings: true,
                                },
                                info: "",
                                statFlags: {
                                    firstRun: false,
                                    warmingUp: false,
                                    started: false,
                                    isAlive: true,
                                }
                            };
                            _this.counter = 0;
                            _this.blueCounter = 0;
                            _this.setStyle();
                            _this.$forceUpdate();
                        } else if (!_this.currentState.statFlags.firstRun && _this.currentState.statFlags.started && _this.counter > 15) {
                            _this.currentState = {
                                color: "red",
                                buttons: {
                                    loop: true,
                                    chart: true,
                                    play: true,
                                    stop: false,
                                    settings: true,
                                },
                                info: "",
                                statFlags: {
                                    firstRun: false,
                                    warmingUp: false,
                                    started: false,
                                    isAlive: true,
                                }
                            };
                            _this.counter = 0;
                            _this.blueCounter = 0;
                            _this.setStyle();
                            _this.$forceUpdate();
                        } else if (!_this.currentState.statFlags.firstRun && !_this.currentState.statFlags.started && !_this.currentState.statFlags.warmingUp && _this.counter > 15) {
                            _this.currentState = {
                                color: "red",
                                buttons: {
                                    loop: true,
                                    chart: true,
                                    play: true,
                                    stop: false,
                                    settings: true,
                                },
                                info: "",
                                statFlags: {
                                    firstRun: false,
                                    warmingUp: false,
                                    started: false,
                                    isAlive: true,
                                }
                            };
                            _this.counter = 0;
                            _this.blueCounter = 0;
                            _this.setStyle();
                            _this.$forceUpdate();
                        }
                        _this.stats = data;
                    }
                });
                $.ajax({
                    url: '/api/miner/wattage?rigId=' + _this.rig.Rig.UUID,
                    type: 'get',
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": _this.rig.Rig.UUID
                    },
                    success: function(data, status) {
                        _this.wattage = data;
                    }
                });
            },

            checkVersion() {
                let _this = this;

                $.ajax({
                    url: '/api/miner/checkversion',
                    type: 'get',
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": _this.rig.Rig.UUID
                    },
                    success: function(data, status) {
                        _this.update.version = data;
                    }
                })
            },

            updateMinerVersion() {
                let _this = this;
                if (confirm("Do you really want to update that rig?\n" +
                        "Press OK to confirm them or Cancel to abort action")) {
                    this.update.flags.clicked = true;
                    $.ajax({
                        url: '/api/miner/update',
                        type: 'get',
                        headers: {
                            "fluen-key": _this.$session.get("fluenKey"),
                            "email": _this.$session.get("email"),
                            "rigid": _this.rig.Rig.UUID
                        },
                    })
                }
            },

            checkIsAliveLoop() {
                let _this = this;

                setTimeout(function() {
                    _this.checkIsAlive();
                    _this.isAliveId = setInterval(function() {
                        _this.checkIsAlive();
                    }.bind(_this), 3000);
                }, Math.random() * 1000);
            },

            checkIsAlive() {

                let _this = this;

                if (!this.$session.get("logged") || this.$session.get("settings")) {
                    clearInterval(this.isAliveId)
                }

                $.ajax({
                        url: '/api/miner/isalive',
                        type: 'get',
                        data: {
                            rigid: _this.rig.Rig.UUID,
                        },
                        headers: {
                            "fluen-key": _this.$session.get("fluenKey"),
                            "email": _this.$session.get("email"),
                            "rigid": _this.rig.Rig.UUID
                        },
                        success: function(data, status) {
                            if (status === "success") {
                                if (!_this.currentState.statFlags.isAlive) {
                                    _this.update.flags.clicked = false;
                                    _this.checkVersion();
                                    _this.getStatsLoop();
                                    clearInterval(_this.event.eventListener);
                                    _this.flash.flags.cloud.fill(true);
                                    _this.counter = 0;
                                    _this.currentState = {
                                        color: "red",
                                        buttons: {
                                            loop: false,
                                            chart: false,
                                            play: false,
                                            stop: false,
                                            settings: false,
                                        },
                                        info: "Preparing...",
                                        statFlags: {
                                            firstRun: true,
                                            warmingUp: false,
                                            started: false,
                                            isAlive: true,
                                        }
                                    };
                                    _this.setStyle();
                                    _this.$forceUpdate();
                                }
                            }
                        }
                    })
                    .fail(function(data, status) {
                        if (status === "error") {
                            if (_this.currentState.statFlags.isAlive) {
                                clearInterval(_this.statsId);
                                _this.counter = 0;
                                _this.$emit("deadRigId", _this.rig.Rig.UUID);
                                _this.exp = false;
                                _this.currentState = {
                                    color: "black",
                                    buttons: {
                                        loop: false,
                                        chart: false,
                                        play: false,
                                        stop: false,
                                        settings: false,
                                    },
                                    info: "",
                                    statFlags: {
                                        firstRun: true,
                                        warmingUp: false,
                                        started: false,
                                        isAlive: false,
                                    }
                                };
                                _this.setStyle();
                                _this.$forceUpdate();
                            }
                        }
                    });
            },

            resize() {
                if (this.currentState.statFlags.isAlive) {
                    if (!this.exp) {
                        this.exp = true;
                        this.chart.flags.chartDisplayed = false;
                        this.settings.flags.settingsDisplayed = false;
                        this.getCurrentProfile();
                        this.checkVersion();
                        this.getBiosList()
                    } else
                        this.exp = false;
                    this.$forceUpdate();
                }

            },

            slider(index) {
                if (this.checkSliders !== "" && !this.slidersAll) {
                    if (this.parameters.tmpFanSpeed !== this.rig.GpuDevices[this.checkSliders].GpuParams.FanSpeed ||
                        this.parameters.tmpMemOffset !== this.rig.GpuDevices[this.checkSliders].GpuParams.MemOffset ||
                        this.parameters.tmpCoreClock !== this.rig.GpuDevices[this.checkSliders].GpuParams.CoreClock ||
                        this.parameters.tmpPowerLimit !== this.rig.GpuDevices[this.checkSliders].GpuParams.PowerLimit ||
                        this.parameters.tmpVoltage !== this.rig.GpuDevices[this.checkSliders].GpuParams.Voltage) {
                        this.slidersAlert();
                    }
                } else if ((this.parameters.tmpFanSpeed !== "" && this.parameters.tmpFanSpeed !== this.parameters.fanSpeed) ||
                    (this.parameters.tmpMemOffset !== "" && this.parameters.tmpMemOffset !== this.parameters.memOffset) ||
                    (this.parameters.tmpCoreClock !== "" && this.parameters.tmpCoreClock !== this.parameters.coreClock) ||
                    (this.parameters.tmpPowerLimit !== "" && this.parameters.tmpPowerLimit !== this.parameters.powerLimit) ||
                    (this.parameters.tmpVoltage !== "" && this.parameters.tmpVoltage !== this.parameters.voltage)) {
                    this.slidersAlert();
                }
                if (!this.slidersOne[index]) {
                    this.slidersOut();
                    this.slidersOne[index] = true;
                    this.style.popStyleOne[index] = this.style.tmpPopStyle;
                    this.parameters.tmpFanSpeed = this.rig.GpuDevices[index].GpuParams.FanSpeed;
                    this.parameters.tmpMemOffset = this.rig.GpuDevices[index].GpuParams.MemOffset;
                    this.parameters.tmpCoreClock = this.rig.GpuDevices[index].GpuParams.CoreClock;
                    this.parameters.tmpPowerLimit = this.rig.GpuDevices[index].GpuParams.PowerLimit;
                    this.parameters.tmpVoltage = this.rig.GpuDevices[index].GpuParams.Voltage;
                    this.$forceUpdate()
                } else {
                    this.slidersOut();
                }
                this.checkSliders = index;
            },

            sliders() {
                if (this.checkSliders !== "" && !this.slidersAll) {
                    if (this.parameters.tmpFanSpeed !== this.rig.GpuDevices[this.checkSliders].GpuParams.FanSpeed ||
                        this.parameters.tmpMemOffset !== this.rig.GpuDevices[this.checkSliders].GpuParams.MemOffset ||
                        this.parameters.tmpCoreClock !== this.rig.GpuDevices[this.checkSliders].GpuParams.CoreClock ||
                        this.parameters.tmpPowerLimit !== this.rig.GpuDevices[this.checkSliders].GpuParams.PowerLimit ||
                        this.parameters.tmpVoltage !== this.rig.GpuDevices[this.checkSliders].GpuParams.Voltage) {
                        this.slidersAlert();
                    }
                } else if ((this.parameters.tmpFanSpeed !== "" && this.parameters.tmpFanSpeed !== this.parameters.fanSpeed) ||
                    (this.parameters.tmpMemOffset !== "" && this.parameters.tmpMemOffset !== this.parameters.memOffset) ||
                    (this.parameters.tmpCoreClock !== "" && this.parameters.tmpCoreClock !== this.parameters.coreClock) ||
                    (this.parameters.tmpPowerLimit !== "" && this.parameters.tmpPowerLimit !== this.parameters.powerLimit) ||
                    (this.parameters.tmpVoltage !== "" && this.parameters.tmpVoltage !== this.parameters.voltage)) {
                    this.slidersAlert();
                }
                if (!this.slidersAll) {
                    this.slidersOut();
                    this.slidersAll = true;
                    this.parameters.tmpFanSpeed = "";
                    this.parameters.tmpMemOffset = "";
                    this.parameters.tmpCoreClock = "";
                    this.parameters.tmpPowerLimit = "";
                    this.parameters.tmpVoltage = "";
                } else {
                    this.slidersOut();
                }
                this.checkSliders = "";
            },

            slidersOut() {
                this.slidersOne.fill(false);
                this.slidersAll = false;
                this.style.popStyleOne.fill("");
                this.$forceUpdate()
            },

            slidersAlert() {
                if (confirm("You have not applied your current changes\n" +
                        "Press OK if you wish to save them or Cancel to reject them")) {
                    if (this.slidersAll)
                        this.changeAllValues(-1);
                    else
                        this.changeValues(this.checkSliders);
                    this.slidersOut();
                }
                this.slidersOut();
            },

            changeAllValues(index, voltageChecked) {
                this.changeValues(index, voltageChecked);
            },

            setFanSpeed(gpuId) {
                let _this = this;

                $.ajax({
                    url: '/api/miner/setfanspeed',
                    type: 'post',
                    data: {
                        Type: "",
                        Value: _this.parameters.tmpFanSpeed,
                        RigId: _this.rig.Rig.UUID,
                        Pci: gpuId,
                    },
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": _this.rig.Rig.UUID
                    },
                    dataType: 'json'
                });
            },

            setMemOffset(gpuId) {
                let _this = this;
                $.ajax({
                    url: '/api/miner/setmemoffset',
                    type: 'post',
                    data: {
                        Type: "",
                        Value: _this.parameters.tmpMemOffset,
                        RigId: _this.rig.Rig.UUID,
                        Pci: gpuId
                    },
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": _this.rig.Rig.UUID
                    },
                    dataType: 'json'
                });
            },
            setPowerLimit(gpuId) {
                let _this = this;
                $.ajax({
                    url: '/api/miner/setpowerlimit',
                    type: 'post',
                    data: {
                        Type: "",
                        Value: _this.parameters.tmpPowerLimit,
                        RigId: _this.rig.Rig.UUID,
                        Pci: gpuId
                    },
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": _this.rig.Rig.UUID
                    },
                    dataType: 'json'
                });
            },
            setCoreClock(gpuId) {
                let _this = this;
                $.ajax({
                    url: '/api/miner/setcoreclock',
                    type: 'post',
                    data: {
                        Type: "",
                        Value: _this.parameters.tmpCoreClock,
                        RigId: _this.rig.Rig.UUID,
                        Pci: gpuId
                    },
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": _this.rig.Rig.UUID
                    },
                    dataType: 'json'
                });
            },
            setVoltage(gpuId) {
                let _this = this;
                $.ajax({
                    url: '/api/miner/setvoltage',
                    type: 'post',
                    data: {
                        Type: "",
                        Value: _this.parameters.tmpVoltage,
                        RigId: _this.rig.Rig.UUID,
                        Pci: gpuId
                    },
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": _this.rig.Rig.UUID
                    },
                    dataType: 'json'
                })
            },

            voltageAlert() {
                if (confirm("You are trying to change value of voltage to " + this.parameters.tmpVoltage +
                        "\nThis could be potentially dangerous action. If you are sure to save current changes press Ok or Cancel" +
                        " to reject action")) {
                    if (this.slidersAll)
                        this.changeAllValues(-1, true);
                    else
                        this.changeValues(this.checkSliders, true);
                    return 1;
                }
                return -1;
            },

            changeValues(index, voltageChecked) {
                let gpuId;

                if (index === -1) {
                    if (this.parameters.tmpVoltage !== "" && !voltageChecked) {
                        if (this.voltageAlert() === -1) {
                            return;
                        }
                    }
                    gpuId = "-1";
                    this.parameters.fanSpeed = this.parameters.tmpFanSpeed;
                    this.parameters.memOffset = this.parameters.tmpMemOffset;
                    this.parameters.powerLimit = this.parameters.tmpPowerLimit;
                    this.parameters.coreClock = this.parameters.tmpCoreClock;
                    this.parameters.voltage = this.parameters.tmpVoltage;

                    if (this.parameters.tmpFanSpeed !== "") {
                        for (let i = 0; i < this.rig.GpuDevices.length; i++)
                            this.rig.GpuDevices[i].GpuParams.FanSpeed = this.parameters.tmpFanSpeed;
                        this.setFanSpeed(gpuId);
                    }
                    if (this.parameters.tmpMemOffset !== "") {
                        for (let i = 0; i < this.rig.GpuDevices.length; i++)
                            this.rig.GpuDevices[i].GpuParams.MemOffset = this.parameters.tmpMemOffset;

                        this.setMemOffset(gpuId);
                    }
                    if (this.parameters.tmpPowerLimit !== "") {
                        for (let i = 0; i < this.rig.GpuDevices.length; i++)
                            this.rig.GpuDevices[i].GpuParams.PowerLimit = this.parameters.tmpPowerLimit;
                        this.setPowerLimit(gpuId);
                    }
                    if (this.parameters.tmpCoreClock !== "") {
                        for (let i = 0; i < this.rig.GpuDevices.length; i++)
                            this.rig.GpuDevices[i].GpuParams.CoreClock = this.parameters.tmpCoreClock;
                        this.setCoreClock(gpuId);
                    }
                    if (this.parameters.tmpVoltage !== "") {
                        for (let i = 0; i < this.rig.GpuDevices.length; i++)
                            this.rig.GpuDevices[i].GpuParams.Voltage = this.parameters.tmpVoltage;
                        this.setVoltage(gpuId);
                    }
                } else {
                    if (this.parameters.tmpVoltage !== "" && this.parameters.tmpVoltage !== this.rig.GpuDevices[index].GpuParams.Voltage && !voltageChecked) {
                        if (this.voltageAlert() === -1) {
                            return;
                        }
                    }
                    gpuId = this.rig.GpuDevices[index].GpuDevice.Pci;
                    if (this.parameters.tmpFanSpeed !== this.rig.GpuDevices[index].GpuParams.FanSpeed) {
                        this.rig.GpuDevices[index].GpuParams.FanSpeed = this.parameters.tmpFanSpeed;
                        this.setFanSpeed(gpuId);
                    }
                    if (this.parameters.tmpMemOffset !== this.rig.GpuDevices[index].GpuParams.MemOffset) {
                        this.rig.GpuDevices[index].GpuParams.MemOffset = this.parameters.tmpMemOffset;
                        this.setMemOffset(gpuId);
                    }
                    if (this.parameters.tmpPowerLimit !== this.rig.GpuDevices[index].GpuParams.PowerLimit) {
                        this.rig.GpuDevices[index].GpuParams.PowerLimit = this.parameters.tmpPowerLimit;
                        this.setPowerLimit(gpuId);
                    }
                    if (this.parameters.tmpCoreClock !== this.rig.GpuDevices[index].GpuParams.CoreClock) {
                        this.rig.GpuDevices[index].GpuParams.CoreClock = this.parameters.tmpCoreClock;
                        this.setCoreClock(gpuId);
                    }
                    if (this.parameters.tmpVoltage !== this.rig.GpuDevices[index].GpuParams.Voltage) {
                        this.rig.GpuDevices[index].GpuParams.Voltage = this.parameters.tmpVoltage;
                        this.setVoltage(gpuId);
                    }
                }
                this.$emit("rigChanged", this.rig);
                this.sortDevices();
                this.$forceUpdate();
            },

            changeName() {
                this.rig.Rig.Name = this.rigName;
                this.$emit('rigChanged', this.rig);
                this.sortDevices();
                let _this = this;
                $.ajax({
                    url: '/api/miner/editrigname',
                    type: 'post',
                    data: {
                        Value: _this.rigName,
                        RigId: _this.rig.Rig.UUID,
                    },
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": _this.rig.Rig.UUID
                    },
                    dataType: 'json'
                });
                this.stopChangeRigName()
            },
            changeRigName() {
                this.changName = true;
            },
            stopChangeRigName() {
                this.changName = false;
            },

            removeMinerAlert() {
                if (confirm("Do your really want to delete this miner?\n" +
                        "Press OK if you wish to delete it or Cancel to abort action")) {
                    this.removeMiner()
                }
            },

            removeMiner() {
                let _this = this;
                clearInterval(this.isAliveId);
                $.ajax({
                        url: '/api/miner/removerig',
                        type: 'get',
                        data: {
                            rigId: _this.rig.Rig.UUID,
                        },
                        headers: {
                            "fluen-key": _this.$session.get("fluenKey"),
                            "email": _this.$session.get("email"),
                            "rigid": _this.rig.Rig.UUID
                        },
                        success: function() {
                            _this.$emit('rigDeleted', true);
                        }
                    })
                    .always(function() {
                        _this.$forceUpdate();
                    });
            }
        }

    }
</script>

<style>

</style>