<template>
    <div>
        <div id="mine" class="mineMenu">
            <b-navbar type="dark" class="navbarStyle navbar-fix">
                <div class="flex-position navbar-size-fix">
                    <div class="navbar-logo-position"><img class="center fix-banner-size-navbar" src="../images/fluen.svg"></div>
                    <input v-model="query" class="form-control navbarSearch" type="text" placeholder="Search...">
                    <div class="navbar-btn-group">
                        <!--<button v-on:click="displayTutorial" class="btn"><i class="fa fa-question-circle navbarIcons"></i></button>-->
                        <router-link to="/settings" tag="button" class="btn"><i class="fa fa-cog navbarIcons"></i></router-link>
                        <!--<img v-show="tutorial.flags.gear" :src="tutorial.pointer" class="tutorial-pointer tutorial-pointer-gear">-->
                        <button v-on:click="signOut" class="btn"><i class="fa fa-sign-out-alt navbarIcons"></i></button>
                    </div>
                </div>
            </b-navbar>

            <div class="miners-layout">
                <div v-for="(rig,index) in rigs">
                    <Miner
                            v-bind:rig="rig"
                            v-bind:logged="logg"
                            v-bind:profiles="user.data.profiles"
                            v-bind:checkLoop="loopRigId"

                            v-on:rigChanged="rig = $event"
                            v-on:rigDeleted="rigDelete = $event"
                            v-on:seeOutput="output = $event"
                            v-on:rigId="loopRigId = $event"
                            v-on:deadRigId="deadLoopRigId = $event"

                            v-show="shown[index]"
                    ></Miner>
                </div>
            </div>

            <transition name="slide">
                <div v-show="output" class="minerOutput">
                    <div style="height: 6px; background: #4885ed">&nbsp;</div>
                    <pre id="footerId" v-on:click="startScroll">{{ clayResp }}</pre>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
    import Miner from './Miner.vue';
    import HorizontalBar from "vue-chartjs/es/BaseCharts/HorizontalBar";

    export default {

        data() {
            return {
                // booleans
                output: false,
                logg: true,
                rigDelete: false,
                scrollId: false,
                // ID's
                loopId: null,
                // Strings
                loopRigId: "",
                deadLoopRigId: "",
                clayResp: "",
                query: "",
                // Arrays & Objects
                rigs: {},
                shown: [],
                source: null,
                // tags
                grouper: {
                    data: {
                        taglist: [],
                        rigTagList: []
                    }
                },
                // user
                user: {
                    data: {
                        profiles: [],
                    }
                }
            }
        },

        components: {
            HorizontalBar,
            Miner,
        },

        created: function() {
            // get data about rigs when you log in
            if (this.$session.get("logged")) {
                this.getProfiles();
                this.getTagList();
            }
        },

        watch: {

            query: function() {
                let re = new RegExp(this.query.toLowerCase());
                for (let i = 0; i < this.rigs.length; i++) {
                    if (re.exec(this.rigs[i].Rig.Name.toLowerCase()) !== null) {
                        this.shown[i] = true
                    } else {
                        this.shown[i] = false
                    }
                    for (let j = 0; j < this.rigs[i].GpuDevices.length; j++) {
                        if (re.exec(this.rigs[i].GpuDevices[j].GpuDevice.Model.toLowerCase()) !== null) {
                            this.shown[i] = true
                        }
                    }
                    for (let k = 0; k < this.grouper.data.rigTagList[i].data.length; k++) {
                        alert(this.grouper.data.rigTagList[i][k]);
                        if (re.exec(this.grouper.data.rigTagList[i][k].toLowerCase()) !== null) {
                            this.shown[i] = true;
                        }
                    }
                }


                this.$forceUpdate();
            },

            loopRigId() {
                if (this.output && this.loopRigId !== "") {
                    if (this.source !== null) {
                        this.source.close();
                    }
                    this.startListening();
                    this.startScroll();
                }
            },

            deadLoopRigId() {
                if (this.deadLoopRigId === this.loopRigId && this.loopRigId !== "") {
                    this.source.close();
                    this.deadLoopRigId = "";
                }
            },

            output() {
                if (!this.output) {
                    this.source.close();
                    this.loopRigId = "";
                }
            },

            rigDelete() {
                if (this.rigDelete) {
                    this.getRigs();
                    this.$forceUpdate();
                    this.rigDelete = false;
                }
            },
        },

        methods: {

            getTagList() {
                let _this = this;

                $.ajax({
                    url: '/api/miner/taglist',
                    type: 'get',
                    data: {
                        email: _this.$session.get("email"),
                    },
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": "-1",
                    },
                    success(data) {
                        _this.grouper.data.taglist = data;
                        _this.$forceUpdate();
                    }
                })
            },

            getRigTagList(index, rigId) {
                let _this = this;

                $.ajax({
                    url: '/api/miner/rigtaglist',
                    type: 'get',
                    data: {
                        rigId: rigId
                    },
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": rigId,
                    },
                    success(data) {
                        if (data !== null) {
                            data.sort(function(a, b) {
                                if (a < b)
                                    return -1;
                                if (a > b)
                                    return 1;
                                return 0;
                            });

                            _this.grouper.data.rigTagList[index] = data;
                        } else {
                            _this.grouper.data.rigTagList[index] = [""];
                        }
                        _this.$forceUpdate();
                    }
                })
            },

            getProfiles() {
                let _this = this;

                $.ajax({
                        url: '/api/miner/profilelist?email=' + _this.$session.get("email"),
                        type: 'get',
                        headers: {
                            "fluen-key": _this.$session.get("fluenKey"),
                            "email": _this.$session.get("email"),
                            "rigid": "-1"
                        },
                        success: function(data) {
                            _this.user.data.profiles = data;
                            _this.sortUserProfile(_this.user.data.profiles);
                            _this.getRigs();
                        }
                    })
                    .done(function() {
                        if (_this.user.data.profiles.length === 1 && _this.user.data.profiles[0].Default === false) {
                            _this.setDefaultProfile(0);
                        }
                    });
            },

            sortUserProfile(array) {
                array.sort(function(a, b) {
                    if (a.ProfileId < b.ProfileId)
                        return -1;
                    if (a.ProfileId > b.ProfileId)
                        return 1;
                    return 0;
                });
            },

            getRigs() {
                let _this = this;
                this.rigs = [];

                $.ajax({
                    url: '/api/miner/getrigs/' + _this.$session.get("email"),
                    type: 'get',
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": "-1"
                    },
                    dataType: 'json',
                    success: function(data) {
                        _this.rigs = data["Rigs"];
                        _this.rigs.sort(function compare(a, b) {
                            if (a.Rig.UUID < b.Rig.UUID)
                                return -1;
                            if (a.Rig.UUID > b.Rig.UUID)
                                return 1;
                            return 0;
                        });

                        _this.grouper.data.rigTagList = new Array(_this.rigs.length);
                        for (let i = 0; i < _this.rigs.length; i++) {
                            _this.getRigTagList(i, _this.rigs[i].Rig.UUID);
                        }

                        _this.shown = new Array(data["Rigs"].length).fill(true);
                        _this.$forceUpdate();
                    }
                })
            },


            // ---------------- \\
            //      User        \\
            // ---------------- \\

            signOut() {
                if (confirm("Do your really want sign out?")) {
                    this.$emit("signOut", false);
                    this.$forceUpdate();
                }
            },

            // ---------------- \\
            //      Miners      \\
            // ---------------- \\

            startListening() {
                let _this = this,
                    rigName = "";

                for (let i = 0; i < _this.rigs.length; i++) {
                    if (_this.loopRigId === _this.rigs[i].Rig.UUID) {
                        rigName = _this.rigs[i].Rig.Name;
                    }
                }

                this.clayResp = "Server start listening\n";
                var stats_url = process.env.SEXYSERVER;
                console.log(stats_url);
                this.source = new EventSource(stats_url + '/api/read-output?RigId=' + _this.loopRigId + '&Email=' + this.$session.get("email") + '&Fluen=' + this.$session.get("fluenKey"));
                this.source.addEventListener('message', function(e) {
                    console.log(e.data);
                    _this.clayResp += rigName + ": " + e.data + "\n";
                    setTimeout(function() {
                        if (_this.scrollId) {
                            document.getElementById("footerId").scrollTop += 2137;
                        }
                    }.bind(_this), 100);
                }, false);

                this.source.addEventListener('open', function(e) {
                    console.log("OPENED")
                }, false);

                this.source.addEventListener('error', function(e) {
                    if (e.readyState == EventSource.CLOSED) {
                        console.log("CLOSED")
                    }
                }, false);

            },

            startScroll() {
                this.scrollId = !this.scrollId;
            },
        }

    }
</script>

<style>

</style>