<template>
    <div>
        <div id="mine" class="mineMenu">
            <b-navbar type="dark" class="navbarStyle navbar-fix">
                <div class="flex-position navbar-size-fix">
                    <div class="navbar-logo-position"><img class="center fix-banner-size-navbar" src="../images/fluen.svg"></div>
                    <input v-model="query" class="form-control navbarSearch" type="text" placeholder="Search...">
                    <div class="navbar-btn-group">
                       <button v-on:click="signOut" class="btn"><router-link to="/" class="readonly-sign-out"><i class="fa fa-sign-out-alt navbarIcons"></i></router-link></button>
                    </div>
                </div>
            </b-navbar>

            <div class="miners-layout">
                <div v-for="(rig,index) in rigs">
                    <Miner
                            v-bind:rig="rig"
                            v-bind:logged="logg"

                            v-show="shown[index]"
                    ></Miner>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    // miners
    import Miner from './MinerReadOnly.vue'

    export default {

        data() {
            return {
                // booleans
                logg: true,
                // Strings
                query: "",
                // Arrays & Objects
                rigs: {},
                shown: [],
                // style
                style: {
                    userPanelStyle: {
                        heightValue: 0,
                        all: ""
                    },
                },
            }
        },

        components: {
            Miner,
        },

        created: function() {
            // get data about rigs when you log in
            this.$session.set("read", this.$route.params.grouperKey);
            this.getRigs();
        },

        watch: {
            query: function() {
                let re = new RegExp(this.query.toLowerCase());
                for (let i = 0; i < this.rigs.length; i++) {
                    if (re.exec(this.rigs[i].Name.toLowerCase()) !== null) {
                        this.shown[i] = true
                    } else {
                        this.shown[i] = false
                    }
                    for (let j = 0; j < this.rigs[i].GPUs.length; j++) {
                        if (re.exec(this.rigs[i].GPUs[j].Name.toLowerCase()) !== null) {
                            this.shown[i] = true
                        }
                    }
                }
                this.$forceUpdate();
            },
        },

        methods: {

            getRigs() {
                let _this = this;
                this.rigs = [];

                $.ajax({
                    url: '/api/read/getrigs/',
                    type: 'get',
                    data: {
                        grouperKey: _this.$session.get("read") // its gonna be automatic later
                    },
                    dataType: 'json',
                    success: function(data) {
                        _this.rigs = data;
                        _this.rigs.sort(function compare(a, b) {
                            if (a.RigId < b.RigId)
                                return -1;
                            if (a.RigId > b.RigId)
                                return 1;
                            return 0;
                        });

                        _this.shown = new Array(data.length).fill(true);
                        _this.$forceUpdate();
                    }
                })
            },

            signOut() {
                if (confirm("Do your really want sign out?")) {
                    this.$session.set("logged", false);
                    this.$emit("signOut", false);
                    this.$forceUpdate();
                }
            },
        }

    }
</script>