<template>
    <div>
        <div class="miner-miners">
        <!-- this is a mini miner -->
        <div v-if="!exp" class="col-xl-4 col-sm-6 col-xs-12">
            <div class="panel miner-panel">
                <div v-bind:style="style.minerStyle" class="panel-heading panel-heading-miner">
                    <div v-on:click.self="resize" class="Name" style="margin-left: 20px"> {{ rig.Name }} </div>
                    <div v-show="currentState.info !== ''" class="stateInfo"> {{ currentState.info }} </div>
                </div>
                <div class="panel-body miner-panel-body flex-position">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="mediumColumn">Cards</th>
                            <th v-show="currentState.statFlags.started">MH/sec</th>
                            <th v-show="currentState.statFlags.started">Wattage</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ rig.GPUs.length }}</td>
                            <td class="miniMinerTable" v-show="currentState.statFlags.started">{{ stats.Overall }}</td>
                            <td class="miniMinerTable" v-show="currentState.statFlags.started">{{ wattage }} W</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- this is a big miner -->
        <div v-if="exp" class="col-sm-12 col-xs-12">
            <div class="panel miner-panel">
                <div v-bind:style="style.minerStyle" class="panel-heading panel-heading-miner panel-heading-miner-big">
                    <div v-on:click.self="resize" class="Name" style="margin-left: 20px">
                        {{ rig.Name }}
                    </div>
                    <div v-show="currentState.info !== ''" class="stateInfo"> {{ currentState.info }} </div>
                    <div v-bind:style="style.minerStyle" class="miner-btn-group">
                        <button v-show="currentState.buttons.chart" v-on:click="displayChart" class="btn" title="Switch view"><i class="fa fa-line-chart"></i></button>
                        <button v-show="currentState.buttons.settings" v-on:click="displaySettings" class="btn" title="Display settings"><i class="fa fa-gear"></i></button>
                    </div>
                </div>
                <div class="panel-body miner-panel-body">
                    <div v-if="chart.flags.chartDisplayed">
                        <StatsChart
                                v-bind:RigId="rig.RigId"
                                v-bind:timeRange="chart.values.timeRange"
                        ></StatsChart>
                        <div>
                            <button v-on:click="set10mChart" v-bind:style="style.chartbtn[0]" class="miner-btn-chart">1h chart</button>
                            <button v-on:click="set20mChart" v-bind:style="style.chartbtn[1]" class="miner-btn-chart">4h chart</button>
                            <button v-on:click="set1hChart" v-bind:style="style.chartbtn[2]" class="miner-btn-chart">24h chart</button>
                            <button v-on:click="set2hChart" v-bind:style="style.chartbtn[3]" class="miner-btn-chart">7d chart</button>
                            <button v-on:click="set12hChart" v-bind:style="style.chartbtn[4]" class="miner-btn-chart">30d chart</button>
                        </div>
                    </div>

                    <!-- settings -->
                    <div v-if="settings.flags.settingsDisplayed">
                        <div class="panel userpanel-panel" style="border-top-color: #db3236!important;">
                            <div class="panel-body userpanel-content">
                                <div class="userpanel-header" style="color: #db3236!important;">
                                    <div>Profile</div>
                                </div>
                                <!-- email -->
                                <table class="table">
                                    <tr>
                                        <td class="ultraSmallColumn"><i class="fa fa-wallet"></i></td>
                                        <td>{{ profile.currentProfile.WalletValue }}</td>
                                    </tr>
                                    <tr>
                                        <td class="ultraSmallColumn"><i class="fa fa-swimming-pool"></i></td>
                                        <td>{{ profile.currentProfile.PoolName }}:{{ profile.currentProfile.PoolPort }}</td>
                                    </tr>
                                    <tr>
                                        <td class="ultraSmallColumn"><i class="fa fa-user-circle"></i></td>
                                        <td>{{ profile.currentProfile.Name}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <table v-if="!chart.flags.chartDisplayed&&!settings.flags.settingsDisplayed" class="table">
                        <thead>
                        <tr class="lightMeUp bigMinerHeader">
                            <th>Total Cards</th>
                            <th>{{ stats.Overall }} MH/sec</th>
                            <th>Temp (&deg;C)</th>
                            <th>Fan Speed</th>
                            <th>Power Limit</th>
                            <th>Memory Offset</th>
                            <th>Core clock</th>
                            <th>Voltage</th>
                        </tr>
                        </thead>

                        <tbody v-for="(GpuDevice,index) in rig.GPUs">
                        <tr class="lightMeUp">
                            <td>{{ index+1 }}. {{ GpuDevice.Name }}</td>
                            <td><div v-show="currentState.statFlags.started" v-for="(card, index2) in stats.PerCard" v-if="index===index2">{{ card.Mhs }} MH/sec</div></td>
                            <td><div v-show="currentState.statFlags.started" v-for="(card, index2) in stats.PerCard" v-if="index===index2">{{ card.Temp }} </div></td>
                            <td><div v-show="!GpuDevice.Flashed">{{ GpuDevice.Params.FanSpeed }}</div><div v-show="GpuDevice.Flashed">---</div></td>
                            <td><div v-show="!GpuDevice.Flashed">{{ GpuDevice.Params.PowerLimit }}</div><div v-show="GpuDevice.Flashed">---</div></td>
                            <td><div v-show="!GpuDevice.Flashed">{{ GpuDevice.Params.MemOffset }}</div><div v-show="GpuDevice.Flashed">---</div></td>
                            <td><div v-show="!GpuDevice.Flashed">{{ GpuDevice.Params.CoreClock }}</div><div v-show="GpuDevice.Flashed">---</div></td>
                            <td><div v-show="!GpuDevice.Flashed">{{ GpuDevice.Params.Voltage }}</div><div v-show="GpuDevice.Flashed">---</div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</template>
<script>
    // chart
    import StatsChart from "./StatsChartReadOnly.js"

    export default {
        props: {
            rig: Object,
            logged: Boolean,
        },
        data() {
            return {
                settings: {
                    flags: {
                        settingsDisplayed: false,
                    }
                },
                // booleans
                loopOutputClicked: false,
                exp: false,
                // interval IDs / index
                statsId: null,
                isAliveId: null,
                // stats
                stats: {},
                counter: 0,
                blueCounter: 0,
                currentState: {
                    color: "blue",
                    buttons: {
                        loop: false,
                        chart: false,
                        play: false,
                        stop: false,
                        settings: false,
                    },
                    info: "",
                    statFlags: {
                        firstRun: false,
                        warmingUp: false,
                        started: false,
                        isAlive: false,
                    },
                },
                // styles
                style: {
                    minerStyle: "background-color: #606060!important;\n" +
                    "        border-color: #303030!important;",
                    tmpPopStyle: "",
                    popStyleOne: [],
                    chartbtn: ["color: #3cba54; border-color: #3cba54;", "", "", "", ""]
                },
                // chart
                chart: {
                    flags: {
                        chartDisplayed: false,
                    },
                    values: {
                        timeRange: "3600",
                    },
                },
                // profile
                profile: {
                    currentProfile: {},
                    yourWallet: "Wallet",
                    yourPool: "Pool",
                },
                // wattage init
                wattage: 0,
            }
        },

        components: {
            StatsChart,
        },

        created() {
            this.getCurrentProfile();
            this.sortDevices();
        },

        mounted() {
            this.checkIsAliveLoop();
        },

        methods: {

            sortDevices() {
                this.rig.GPUs.sort(function compare(a, b) {
                    if (a.Pci < b.Pci)
                        return -1;
                    if (a.Pci > b.Pci)
                        return 1;
                    return 0;
                });
                this.$forceUpdate();
            },

            displaySettings() {
                this.settings.flags.settingsDisplayed = !this.settings.flags.settingsDisplayed;
                if ( this.settings.flags.settingsDisplayed ) {
                    this.chart.flags.chartDisplayed = false;
                }
            },

            set10mChart() {
                this.chart.values.timeRange = "3600";
                this.style.chartbtn.fill("");
                this.style.chartbtn[0] = "color: #3cba54; border-color: #3cba54;";
                this.$forceUpdate();
            },

            set20mChart() {
                this.chart.values.timeRange = "14400";
                this.style.chartbtn.fill("");
                this.style.chartbtn[1] = "color: #3cba54; border-color: #3cba54;";
                this.$forceUpdate();
            },

            set1hChart() {
                this.chart.values.timeRange = "86400";
                this.style.chartbtn.fill("");
                this.style.chartbtn[2] = "color: #3cba54; border-color: #3cba54;";
                this.$forceUpdate();
            },

            set2hChart() {
                this.chart.values.timeRange = "604800";
                this.style.chartbtn.fill("");
                this.style.chartbtn[3] = "color: #3cba54; border-color: #3cba54;";
                this.$forceUpdate()
            },

            set12hChart() {
                this.chart.values.timeRange = "2592000";
                this.style.chartbtn.fill("");
                this.style.chartbtn[4] = "color: #3cba54; border-color: #3cba54;";
                this.$forceUpdate();
            },

            displayChart() {
                this.chart.flags.chartDisplayed = !this.chart.flags.chartDisplayed;
                if ( this.chart.flags.chartDisplayed ) {
                    this.settings.flags.settingsDisplayed = false;
                }
            },

            getCurrentProfile() {
                let _this = this;
                $.ajax({
                    url: '/api/read/rigprofile',
                    type: 'get',
                    data: {
                        rigId: _this.rig.RigId,
                        grouperKey: _this.$session.get("read")// thats gonna be automatic later
                    },
                    success: function (data) {
                        _this.profile.currentProfile = data;
                    }
                })
            },

            setStyle() {
                if ( this.currentState.color == "red" ) {
                    this.style.minerStyle = "background-color: #db3236!important;\n" +
                        "        border-color: #ca2125!important;";
                    this.style.tmpPopStyle = "background-color: lightgoldenrodyellow!important;";
                }
                else if ( this.currentState.color == "yellow" )
                    this.style.minerStyle = "background-color: #f4c20d!important;\n" +
                        "        border-color: #e3b10c!important;";
                else if ( this.currentState.color == "blue" ) {
                    this.style.minerStyle = "background-color: #4885ed!important;\n" +
                        "        border-color: #3774dc!important;";
                    this.style.tmpPopStyle = "background-color: lightgoldenrodyellow!important;";
                }
                else if ( this.currentState.color == "black" ) {
                    this.style.minerStyle = "background-color: #606060!important;\n" +
                        "        border-color: #303030!important;";
                    this.style.tmpPopStyle = "";
                }
            },

            getStatsLoop() {
                let _this = this;

                $.ajax({
                    url: '/api/read/stats',
                    type: 'get',
                    data: {
                        rigId: _this.rig.RigId,
                        grouperKey: _this.$session.get("read"), // that gonna be automatic later
                    },
                    success: function (data) {

                        if ( data.PerCard !== null ) {
                            data.PerCard.sort(function compare(a, b) {
                                if (a.Id < b.Id)
                                    return -1;
                                if (a.Id > b.Id)
                                    return 1;
                                return 0;
                            });
                        }

                        _this.stats = data;
                    }
                });

                setTimeout(function() {
                    _this.getStats();
                    _this.statsId = setInterval(function() {
                        _this.getStats();
                    }.bind(_this), 1000);
                }, Math.random() * 1000);
            },

            getStats() {
                let _this = this;

                $.ajax({
                    url: '/api/read/stats',
                    type: 'get',
                    data: {
                        rigId: _this.rig.RigId,
                        grouperKey: _this.$session.get("read"), // that gonna be automatic later
                    },
                    success: function (data) {

                        if ( data.PerCard !== null ) {
                            data.PerCard.sort(function compare(a, b) {
                                if (a.Id < b.Id)
                                    return -1;
                                if (a.Id > b.Id)
                                    return 1;
                                return 0;
                            });
                        }

                        if (JSON.stringify(_this.stats.Overall) === JSON.stringify(data.Overall)) {
                            _this.counter++;
                            _this.blueCounter = 0;
                        } else {
                            _this.blueCounter++;
                            if ( _this.blueCounter > 2 ) {
                                _this.currentState = {
                                    color: "blue",
                                    buttons: {
                                        loop: true,
                                        chart: true,
                                        play: false,
                                        stop: true,
                                        settings: true,
                                    },
                                    info: "",
                                    statFlags: {
                                        firstRun: false,
                                        warmingUp: false,
                                        started: true,
                                        isAlive: true,
                                    }
                                };
                                _this.counter = 0;
                                _this.blueCounter = 0;
                                _this.setStyle();
                                _this.$forceUpdate();
                            }
                        }
                        if ( _this.currentState.statFlags.firstRun && _this.counter > 5 ) {
                            _this.currentState = {
                                color: "red",
                                buttons: {
                                    loop: true,
                                    chart: true,
                                    play: true,
                                    stop: false,
                                    settings: true,
                                },
                                info: "",
                                statFlags: {
                                    firstRun: false,
                                    warmingUp: false,
                                    started: false,
                                    isAlive: true,
                                }
                            };
                            _this.counter = 0;
                            _this.setStyle();
                            _this.$forceUpdate();
                        } else if ( !_this.currentState.statFlags.firstRun && _this.currentState.statFlags.warmingUp && _this.counter > 30 ) {
                            _this.currentState = {
                                color: "red",
                                buttons: {
                                    loop: true,
                                    chart: true,
                                    play: true,
                                    stop: false,
                                    settings: true,
                                },
                                info: "",
                                statFlags: {
                                    firstRun: false,
                                    warmingUp: false,
                                    started: false,
                                    isAlive: true,
                                }
                            };
                            _this.counter = 0;
                            _this.blueCounter = 0;
                            _this.setStyle();
                            _this.$forceUpdate();
                        } else if ( !_this.currentState.statFlags.firstRun && _this.currentState.statFlags.started && _this.counter > 15 ) {
                            _this.currentState = {
                                color: "red",
                                buttons: {
                                    loop: true,
                                    chart: true,
                                    play: true,
                                    stop: false,
                                    settings: true,
                                },
                                info: "",
                                statFlags: {
                                    firstRun: false,
                                    warmingUp: false,
                                    started: false,
                                    isAlive: true,
                                }
                            };
                            _this.counter = 0;
                            _this.blueCounter = 0;
                            _this.setStyle();
                            _this.$forceUpdate();
                        } else if ( !_this.currentState.statFlags.firstRun && !_this.currentState.statFlags.started && !_this.currentState.statFlags.warmingUp && _this.counter > 15) {
                            _this.currentState = {
                                color: "red",
                                buttons: {
                                    loop: true,
                                    chart: true,
                                    play: true,
                                    stop: false,
                                    settings: true,
                                },
                                info: "",
                                statFlags: {
                                    firstRun: false,
                                    warmingUp: false,
                                    started: false,
                                    isAlive: true,
                                }
                            };
                            _this.counter = 0;
                            _this.blueCounter = 0;
                            _this.setStyle();
                            _this.$forceUpdate();
                        }
                        _this.stats = data;
                    }
                });

                $.ajax({
                    url: '/api/read/wattage',
                    type: 'get',
                    data: {
                        rigId: _this.rig.RigId,
                        grouperKey: _this.$session.get("read") // thats gonna be auto later
                    },
                    success: function (data, status) {
                        _this.wattage = data;
                    }
                });
                if ( this.$session.get("read") === "" ){
                    clearInterval(this.statsId)
                }
            },

            checkIsAliveLoop() {
                let _this = this;

                setTimeout(function() {
                    _this.checkIsAlive();
                    _this.isAliveId = setInterval(function() {
                        _this.checkIsAlive();
                    }.bind(_this), 3000);
                }, Math.random() * 1000);
            },

            checkIsAlive() {

                let _this = this;

                $.ajax({
                    url: '/api/read/isalive',
                    type: 'get',
                    data: {
                        rigid: _this.rig.RigId
                    },
                    success: function (data, status) {
                        if (status === "success") {
                            if ( !_this.currentState.statFlags.isAlive ) {
                                _this.getStatsLoop();
                                _this.counter = 0;
                                _this.currentState = {
                                    color: "red",
                                    buttons: {
                                        loop: false,
                                        chart: false,
                                        play: false,
                                        stop: false,
                                        settings: false,
                                    },
                                    info: "Preparing...",
                                    statFlags: {
                                        firstRun: true,
                                        warmingUp: false,
                                        started: false,
                                        isAlive: true,
                                    }
                                };
                                _this.setStyle();
                                _this.$forceUpdate();
                            }
                        }
                    }
                })
                    .fail(function(data, status) {
                        if (status === "error") {
                            if ( _this.currentState.statFlags.isAlive ) {
                                clearInterval(_this.statsId);
                                _this.counter = 0;
                                _this.exp = false;
                                _this.currentState = {
                                    color: "black",
                                    buttons: {
                                        loop: false,
                                        chart: false,
                                        play: false,
                                        stop: false,
                                        settings: false,
                                    },
                                    info: "",
                                    statFlags: {
                                        firstRun: true,
                                        warmingUp: false,
                                        started: false,
                                        isAlive: false,
                                    }
                                };
                                _this.setStyle();
                                _this.$forceUpdate();
                            }
                        }
                    });

                if ( this.$session.get("read") === "" ){
                    clearInterval(this.isAliveId)
                }
            },

            resize() {
                if ( this.currentState.statFlags.isAlive ) {
                    if (!this.exp) {
                        this.exp = true;
                        this.chart.flags.chartDisplayed = false;
                        this.settings.flags.settingsDisplayed = false;
                        this.getCurrentProfile();
                    }
                    else
                        this.exp = false;
                    this.$forceUpdate();
                }

            },
        }

    }
</script>

<style>

</style>