<template>
    <div>
        <div class="login-page">
            <div class="login-box">
                <img class="login-header-logo" src="../images/fluen.svg">
                <div class="login-content">
                    <div class="login-header">
                        <div>Register</div>
                        <div>
                            <router-link to="/">Log in</router-link>
                        </div>
                    </div>
                    <div v-on:keyup.enter="register" class="login-fields">
                        <table>
                            <tr class="login-field">
                                <td>Email:</td>
                                <td style="width: 100%"><input v-model="email" placeholder="email@example.com" class=""/></td>
                            </tr>
                            <tr class="login-field">
                                <td>Password:</td>
                                <td style="width: 100%"><input v-bind:style="passwordStyle" v-model="password" type="password" placeholder="Password"/></td>
                            </tr>
                            <tr class="login-field">
                                <td>Confirm:</td>
                                <td style="width: 100%"><input v-bind:style="passwordStyle" v-model="passwordConfirm" type="password" placeholder="Confirm Password"/></td>
                            </tr>
                        </table>
                        <p>
                            {{ errorMsg }}
                        </p>
                    </div>
                    <div class="login-buttons">
                        <button v-on:click="register" class="login-btn">Register</button>
                    </div>
                </div>
            </div>
            <div class="login-foot">
                <a href="https://www.facebook.com/fluen.org" target="blank"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/@fluenos" target="blank"><i class="fab fa-twitter"></i></a>
                <a href="https://fluenos.slack.com" target="blank"><i class="fab fa-slack"></i></a>
                <a href="https://gitlab.com/fluen" target="blank"><i class="fab fa-gitlab"></i></a>
                <div class="login-foot-text">
                    Created by<a href="http://www.fluen.org/" target="blank">fluen.org</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import md5 from 'js-md5';

    export default {
        name: "Register",
        data: function() {
            return {
                email: "",
                password: "",
                passwordConfirm: "",
                errorMsg: "",
                fluenKey: "",
                passwordStyle: "",
            }
        },
        methods: {

            register: function() {
                let _this = this;
                if (this.email === "" || this.password === "") {
                    this.errorMsg = "Empty creditnails";
                    return;
                }
                if (this.password !== this.passwordConfirm) {
                    this.errorMsg = "Password does not match";
                    return;
                }

                let hash = md5.create();
                hash.update(this.password);

                let obj = this;

                let request = {
                    Email: obj.email.toLowerCase(),
                    Password: hash.hex(),
                    TwoStep: false
                };
                $.ajax({
                    url: '/api/user/register',
                    type: 'post',
                    data: request,
                    dataType: 'text',
                    error: function(data) {
                        _this.errorMsg = data.responseText;
                        _this.bgStyle = "background-color: rgba(255, 45, 0, .2)";
                    },
                    success: function() {
                        _this.errorMsg = "You've registered successfuly. Check your email";
                        _this.email = "";
                        _this.password = "";
                        _this.passwordConfirm = "";
                        _this.bgStyle = "background-color: rgba(31, 255, 0, .2)";
                    }
                })
            },
        },
        watch: {
            password: function() {
                if (this.password !== "" && this.passwordConfirm !== "") {
                    if (this.password === this.passwordConfirm) {

                        this.passwordStyle = "background-color: rgba(31, 255, 0, .2)";
                    } else {
                        this.passwordStyle = "background-color: rgba(255, 45, 0, .2)";
                    }
                } else {
                    this.passwordStyle = "";
                }
            },
            passwordConfirm: function() {
                if (this.password !== "" && this.passwordConfirm !== "") {
                    if (this.password === this.passwordConfirm) {

                        this.passwordStyle = "background-color: rgba(31, 255, 0, .2)";
                    } else {
                        this.passwordStyle = "background-color: rgba(255, 45, 0, .2)";
                    }
                } else {
                    this.passwordStyle = "";
                }
            }
        }
    }
</script>

<style>

</style>