<template>
    <div>
        <div class="outerTut">
            <div class="innerTut">
                <div class="panel panel-primary panel-custom-color">
                    <div class="panel-heading tutorial-heading">
                        <div>{{ headertext }} </div>
                        <div v-if="answers.initYesOrNo !== null"><i v-on:click="start" class="tutorial-icon fa fa-home"></i></div>
                    </div>
                    <div class="panel-body">
                        <div v-if="answers.initYesOrNo === null" class="tutorial-init">
                            <div v-on:click="initYes" class="tutorial-have-rig">
                                Yes
                            </div>
                            <div v-on:click="initNo" class="tutorial-dont-have-rig">
                                No
                            </div>
                        </div>
                        <div class="tutorial-text" v-if="answers.initYesOrNo === false">
                            Go make yourself a coffee, watch a movie, invite THAT girl on a date
                            or something. In the meantime, buy a rig and come back :)
                        </div>
                        <div class="tutorial-text" v-if="answers.initYesOrNo === true">
                            <div v-if="answers.isStep1">
                                <ol>
                                    <li v-on:mouseover="gearPointer" v-on:mouseleave="notGearPointer">Click gear button ( top-right corner )</li>
                                    <li v-on:mouseover="walletPointer" v-on:mouseleave="notWalletPointer">Add your wallet</li>
                                    <li v-on:mouseover="poolPointer" v-on:mouseleave="notPoolPointer">Add your pool</li>
                                    <li v-on:mouseover="profilePointer" v-on:mouseleave="notProfilePointer">Create your profile</li>
                                </ol>
                                <div v-on:click="start" class="tutorial-step tutorial-previous-step">Prev</div>
                                <div v-on:click="step2" class="tutorial-step tutorial-next-step">Next</div>
                            </div>
                            <div v-if="answers.isStep2">
                                <ol>
                                    <li v-on:mouseover="fluenKeyPointer" v-on:mouseleave="notFluenKeyPointer">Click FLUEN KEY field</li>
                                    <li>Copy your fluen key</li>
                                    <li>Paste your fluen key to Rig Configurator ( You can find Rig Configurator on your FluenOS desktop )</li>
                                    <li>Click 'Register Rig' in Rig Configurator</li>
                                </ol>
                                <div v-on:click="initYes" class="tutorial-step tutorial-previous-step">Prev</div>
                                <div v-on:click="step3" class="tutorial-step tutorial-next-step">Next</div>
                            </div>
                            <div v-if="answers.isStep3">
                                <ol>
                                    <li>Go to love.fluen.org or refresh page</li>
                                    <li>Your rig should appear</li>
                                </ol>
                                <div v-on:click="step2" class="tutorial-step tutorial-previous-step">Prev</div>
                            </div>
                        </div>
                    </div>
                    <div class="tutorial-box-fulldoc">
                        If you would like to read full documentation <a href="http://fluen.org/download" target="_blank">click me!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Tutorial",
        data() {
            return {
                answers: {
                    initYesOrNo: null,
                    isStep1: null,
                    isStep2: null,
                },
                headertext: "Do you have a rig?",
                pointer: "assets/images/pointer.gif"
            }
        },
        methods: {
            initNo() {
                this.answers.initYesOrNo = false;
                this.headertext = "That's sad"
            },
            initYes() {
                this.answers.initYesOrNo = true;
                this.answers.isStep1 = true;
                this.answers.isStep2 = null;
                this.answers.isStep3 = null;
                this.headertext = "Step 1";
            },
            start() {
                this.answers = {
                    initYesOrNo: null,
                    isStep1: null,
                    isStep2: null,
                    isStep3: null,
                };
                this.headertext = "Do you have a rig?"
            },
            step2() {
                this.headertext = "Step 2";
                this.answers.isStep1 = null;
                this.answers.isStep2 = true;
                this.answers.isStep3 = null
            },
            step3() {
                this.headertext = "Step 3";
                this.answers.isStep1 = null;
                this.answers.isStep2 = null;
                this.answers.isStep3 = true;
            },
            gearPointer() {
                this.$emit("gear", true)
            },
            notGearPointer() {
                this.$emit("gear", false)
            },
            walletPointer() {
                this.$emit("wallet", true)
            },
            notWalletPointer() {
                this.$emit("wallet", false)
            },
            poolPointer() {
                this.$emit("pool", true)
            },
            notPoolPointer() {
                this.$emit("pool", false)
            },
            profilePointer() {
                this.$emit("profile", true)
            },
            notProfilePointer() {
                this.$emit("profile", false)
            },
            fluenKeyPointer() {
                this.$emit("fluenkey", true)
            },
            notFluenKeyPointer() {
                this.$emit("fluenkey", false)
            },
        }
    }
</script>

<style>

</style>