<template>
    <div>
        <div>
            <div class="miner-flash-header-text">
                Drag and drop below:
            </div>
            <label id="dropzone" class="miner-flash-uploadfield">
                <input type="file" id="files" ref="files" multiple v-on:change="handleFilesUpload()"/>
            </label>
            <div>
                <div v-for="file in files">
                    {{ file.name }}
                </div>
            </div>
            <input class="userpanel-editform" v-model="biosInput.name" placeholder="Bios name">
            <input class="userpanel-editform" v-model="biosInput.description" placeholder="Bios description">
            <div v-on:click="submitFiles" v-on:keyup.enter="submitFiles" class="miner-flash-submit">Submit</div>
        </div>
    </div>
</template>

<script>
    export default {

        props: {
            Model: String,
        },
        data(){
            return {
                files: [],
                dropzone: "background: #DDD;",
                biosInput: {
                    name: "",
                    description: "",
                }
            }
        },

        methods: {

            submitFiles(){

                if ( this.biosInput.name === "") {
                    alert("Bios name field must be filled to upload bios");
                    return;
                }
                if ( this.files.length === 0 ) {
                    alert("You have not upload any file");
                } else {
                    let bios = new FormData();
                    let _this = this;

                    for (let i = 0; i < this.files.length; i++) {
                        bios.append('bios', this.files[i]);
                    }

                    bios.append("form", JSON.stringify({
                        Name: _this.biosInput.name,
                        Description: _this.biosInput.description,
                        Device: _this.Model,
                    }));


                    $.ajax({
                        url: '/api/miner/uploadbios',
                        type: 'post',
                        processData: false,  // Important!
                        contentType: false,
                        cache: false,
                        data: bios,
                        headers: {
                            "fluen-key": _this.$session.get("fluenKey"),
                            "email": _this.$session.get("email"),
                            "rigid": "-1",
                        },
                        success() {
                            _this.biosInput.name = "";
                            _this.biosInput.description = "";
                            _this.files = [];
                            _this.$emit("upload", true)
                        }
                    })
                }
            },

            handleFilesUpload(){
               this.files = this.$refs.files.files;
            }
        }
    }
</script>