<template>
    <div>
        <div id="mine" class="mineMenu">
            <b-navbar type="dark" class="navbarStyle navbar-fix">
                <div class="flex-position navbar-size-fix">
                    <router-link to="/" class="navbar-logo-position"><img class="center fix-banner-size-navbar" src="../images/fluen.svg"></router-link>
                    <input v-model="query" class="form-control navbarSearch" type="text" placeholder="Search...">
                    <div class="navbar-btn-group">
                        <router-link to="/" tag="button" class="btn"><i class="fa fa-desktop navbarIcons"></i></router-link>
                    </div>
                </div>
            </b-navbar>

            <div class="userPanel">
                <div v-show="titles.shown[0]" class="col-xs-12 userpanel-box">
                    <div class="panel userpanel-panel" style="border-top-color: #db3236!important;">
                        <div class="panel-body userpanel-content">
                            <div class="userpanel-header" style="color: #db3236!important;">
                                <div>Info</div>
                            </div>
                            <!-- email -->
                            <table class="table">
                                <tr>
                                    <td class="ultraSmallColumn"><i class="fa fa-envelope"></i></td>
                                    <td>{{ $session.get("email") }}</td>
                                    <td class="ultraSmallColumn"><i class="fa fa-desktop"></i></td>
                                    <td class="smallColumn">{{rigs.length}}</td>
                                </tr>
                                <tr>
                                    <td class="ultraSmallColumn"><i class="fa fa-key"></i></td>
                                    <td>{{ $session.get("fluenKey") }}</td>
                                    <td class="ultraSmallColumn"><i class="fa fa-hdd-o"></i></td>
                                    <td class="smallColumn">{{gpus}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="ultraSmallColumn"><i  class="fa fa-cloud-download-alt"></i></td>
                                    <td v-on:click="updateAllMinersVersion" class="smallColumn"><div class="userpanel-update">Update</div></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- tags -->
                <div v-show="titles.shown[1]" class="col-xs-12 userpanel-box">
                    <div class="panel userpanel-panel" style="border-top-color: #3cba54!important;">
                        <div class="panel-body userpanel-content">
                            <div class="flex-position" style="justify-content: space-between;">
                                <div class="userpanel-header" style="color: #3cba54!important;">Grouper</div>
                                <input v-model="grouper.data.queryList" class="userpanel-search" type="text" placeholder="Search...">
                            </div>
                            <table class="table">
                                <tr>
                                    <th class="mediumColumn">Tags</th>
                                    <th>Links</th>
                                    <th class="smallColumn">Actions</th>
                                </tr>
                                <tbody v-for="(grouperr, index) in grouper.data.grouperList">
                                    <tr v-show="grouper.flags.shownList[index]">
                                        <td>{{index+1}}. <div style="display: inline-block" v-for="tag in grouperr.Tags">#{{tag}} </div></td>
                                        <td><router-link :to="'/read/' + grouperr.GrouperKey">love.fluen.org/read/{{grouperr.GrouperKey}}</router-link></td>
                                        <td><button v-on:click="removeGrouper(index)" class="btn"><i class="fa fa-trash"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="userpanel-dropdown">
                                <div v-on:click="grouperDropDown" class="userpanel-dropdown-button">Generate link</div>
                                <transition name="fade">
                                    <div v-if="grouper.flags.dropdown" id="dropdown" class="userpanel-dropdown-content" v-on:mouseleave="grouperDropDown">
                                        <input placeholder="Search..." class="userpanel-dropdown-input" v-model="grouper.data.query" v-on:keyup.enter="generateGrouper">
                                        <div v-for="(tag, index) in grouper.data.taglist">
                                            <div v-on:click="chooseDropDownTag(index)" v-show="grouper.flags.shown[index]" style="cursor: pointer;">{{tag}}</div>
                                        </div>
                                    </div>
                                </transition>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-show="titles.shown[2]" class="col-xs-12 userpanel-box">
                    <div class="panel userpanel-panel" style="border-top-color: #f4c20d!important;">
                        <div class="panel-body userpanel-content">
                            <div class="flex-position" style="justify-content: space-between">
                                <div class="userpanel-header" style="color: #f4c20d!important;">Wallet</div>
                                <input v-model="user.wallet.query" class="userpanel-search" type="text" placeholder="Search...">
                            </div>
                            <!-- wallet list panel -->
                            <table class="table">
                                <tr>
                                    <th class="mediumColumn">Name</th>
                                    <th>Wallet</th>
                                    <th class="smallColumn">Currency</th>
                                    <th class="smallColumn">Actions</th>
                                </tr>
                                <tbody v-for="(wallet,index) in user.data.wallets">
                                    <tr v-show="user.wallet.shown[index] && !user.flags.editingWallet[index]">
                                        <td> {{ wallet.Name }} </td>
                                        <td> {{ wallet.Value }} </td>
                                        <td> {{ wallet.Currency }} </td>
                                        <td class="btn-group">
                                            <button v-on:click="editWalletPanel(index)" class="btn"><i class="fa fa-edit"></i></button>
                                            <button v-on:click="deleteWallet(index)" class="btn"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                    <tr v-show="user.wallet.shown[index] && user.flags.editingWallet[index]">
                                        <td><input v-model="user.wallet.name" placeholder="Name" class="userpanel-editform"></td>
                                        <td><input v-model="user.wallet.value" placeholder="Wallet" class="userpanel-editform"></td>
                                        <td>
                                            <div v-on:click="walletEditDropDown" class="userpanel-editform">{{ user.wallet.currency }}<i class="fa fa-caret-down" style="float: right;"></i></div>
                                            <transition name="fade">
                                                <div v-if="user.flags.walletDropDown" id="dropdown" class="userpanel-dropdown-content" v-on:mouseleave="walletEditDropDown">
                                                    <input placeholder="Search..." class="userpanel-dropdown-input" v-model="user.wallet.queryCurrency" v-on:keyup.enter="walletEditDropDown">
                                                    <div v-for="(currency, index) in user.data.currencies">
                                                        <div v-on:click="chooseWalletCurrency(index)" v-show="user.wallet.shownCurrency[index]" style="cursor: pointer;">{{currency.Name}}</div>
                                                    </div>
                                                </div>
                                            </transition>
                                        </td>
                                        <td class="btn-group">
                                            <button v-on:click="editWallet(index)" class="btn"><i class="fa fa-check"></i></button>
                                            <button v-on:click="closeEditWalletPanel(index)" class="btn"><i class="fa fa-times"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div>
                                <div style="float: right;">
                                    <div v-on:click="walletAddingPanel" class="userpanel-dropdown-button">New wallet</div>
                                </div>
                                <transition name="fade">
                                    <div v-show="user.flags.addingWallet" style="float: left;" class="">
                                        <div><input v-model="user.wallet.name" placeholder="Name" class="userpanel-addingform"></div>
                                        <div><input v-model="user.wallet.value" placeholder="Wallet" class="userpanel-addingform"></div>
                                        <div>
                                            <div v-on:click="walletEditDropDown" class="userpanel-addingform">{{ user.wallet.currency }}<i class="fa fa-caret-down" style="float: right;"></i></div>
                                            <transition name="fade">
                                                <div v-if="user.flags.walletDropDown" id="dropdown" class="userpanel-dropdown-content" v-on:mouseleave="walletEditDropDown">
                                                    <input placeholder="Search..." class="userpanel-dropdown-input" v-model="user.wallet.queryCurrency" v-on:keyup.enter="walletEditDropDown">
                                                    <div v-for="(currency, index) in user.data.currencies">
                                                        <div v-on:click="chooseWalletCurrency(index)" v-show="user.wallet.shownCurrency[index]" style="cursor: pointer;">{{currency.Name}}</div>
                                                    </div>
                                                </div>
                                            </transition>
                                        </div>
                                        <div style="float: right;" class="">
                                            <button v-on:click="addNewWallet" class="btn"><i class="fa fa-check"></i></button>
                                            <button v-on:click="walletAddingPanel" class="btn"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                </transition>
                            </div>

                        </div>
                    </div>
                </div>
                <div v-show="titles.shown[3]" class="col-xs-12 userpanel-box">
                    <div class="panel userpanel-panel" style="border-top-color: #db3236!important;">
                        <div class="panel-body userpanel-content">
                            <div class="flex-position" style="justify-content: space-between">
                                <!-- pool -->
                                <div class="userpanel-header" style="color: #db3236!important;">Pool</div>
                                <input v-model="user.pool.query" class="userpanel-search" type="text" placeholder="Search...">
                            </div>
                            <!-- pool list panel -->
                            <table class="table">
                                <tr>
                                    <th class="mediumColumn">Name</th>
                                    <th>Address</th>
                                    <th>Port</th>
                                    <th class="smallColumn">Currency</th>
                                    <th class="smallColumn">Actions</th>
                                </tr>
                                <tbody v-for="(pool,index) in user.data.prePools" >
                                    <tr v-show="user.pool.preShown[index]">
                                        <td>{{ pool.Name }}</td>
                                        <td>{{ pool.Pool }}</td>
                                        <td>{{ pool.Port }}</td>
                                        <td>{{ pool.Currency }}</td>
                                    </tr>
                                </tbody>
                                <tbody v-for="(pool,index) in user.data.pools">
                                <tr v-show="user.pool.shown[index] && !user.flags.editingPool[index]">
                                    <td> {{ pool.Name }} </td>
                                    <td> {{ pool.Pool }} </td>
                                    <td> {{ pool.Port }}</td>
                                    <td> {{ pool.Currency }} </td>
                                    <td class="btn-group">
                                        <button v-on:click="editPoolPanel(index)" class="btn"><i class="fa fa-edit"></i></button>
                                        <button v-on:click="deletePool(index)" class="btn"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                                <tr v-show="user.pool.shown[index] && user.flags.editingPool[index]">
                                    <td><input v-model="user.pool.name" placeholder="Name" class="userpanel-editform"></td>
                                    <td><input v-model="user.pool.value" placeholder="Address" class="userpanel-editform"></td>
                                    <td><input v-model="user.pool.port" placeholder="Port" class="userpanel-editform"></td>
                                    <td>
                                        <div v-on:click="poolEditDropDown" class="userpanel-editform">{{ user.pool.currency }}<i class="fa fa-caret-down" style="float: right;"></i></div>
                                        <transition name="fade">
                                            <div v-if="user.flags.poolDropDown" id="dropdown" class="userpanel-dropdown-content" v-on:mouseleave="poolEditDropDown">
                                                <input placeholder="Search..." class="userpanel-dropdown-input" v-model="user.pool.queryCurrency" v-on:keyup.enter="poolEditDropDown">
                                                <div v-for="(currency, index) in user.data.currencies">
                                                    <div v-on:click="choosePoolCurrency(index)" v-show="user.pool.shownCurrency[index]" style="cursor: pointer;">{{currency.Name}}</div>
                                                </div>
                                            </div>
                                        </transition>
                                    </td>
                                    <td v-show="user.pool.shown[index] && user.flags.editingPool[index]" class="btn-group">
                                        <button v-on:click="editPool(index)" class="btn"><i class="fa fa-check"></i></button>
                                        <button v-on:click="closeEditPoolPanel(index)" class="btn"><i class="fa fa-times"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- adding pool panel -->
                            <div>
                                <div style="float: right;">
                                    <div v-on:click="poolAddingPanel" class="userpanel-dropdown-button">New pool</div>
                                </div>
                                <transition name="fade">
                                    <div v-show="user.flags.addingPool" style="float: left;" class="">
                                        <div><input v-model="user.pool.name" placeholder="Name" class="userpanel-addingform"></div>
                                        <div><input v-model="user.pool.value" placeholder="Address" class="userpanel-addingform"></div>
                                        <div><input v-model="user.pool.port" placeholder="Port" class="userpanel-addingform"></div>
                                        <div>
                                            <div v-on:click="poolEditDropDown" class="userpanel-addingform">{{ user.pool.currency }}<i class="fa fa-caret-down" style="float: right;"></i></div>
                                            <transition name="fade">
                                                <div v-if="user.flags.poolDropDown" id="dropdown" class="userpanel-dropdown-content" v-on:mouseleave="poolEditDropDown">
                                                    <input placeholder="Search..." class="userpanel-dropdown-input" v-model="user.pool.queryCurrency" v-on:keyup.enter="poolEditDropDown">
                                                    <div v-for="(currency, index) in user.data.currencies">
                                                        <div v-on:click="choosePoolCurrency(index)" v-show="user.pool.shownCurrency[index]" style="cursor: pointer;">{{currency.Name}}</div>
                                                    </div>
                                                </div>
                                            </transition>
                                        </div>
                                        <div style="float: right;">
                                            <button v-on:click="addNewPool" class="btn"><i class="fa fa-check"></i></button>
                                            <button v-on:click="poolAddingPanel" class="btn"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                </transition>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-show="titles.shown[4]" class="col-xs-12 userpanel-box">
                    <div class="panel userpanel-panel" style="border-top-color: #3cba54!important;">
                        <div class="panel-body userpanel-content">
                            <div class="flex-position" style="justify-content: space-between">
                                <div class="userpanel-header" style="color: #3cba54!important;">Profile</div>
                                <input v-model="user.profile.query" class="userpanel-search" type="text" placeholder="Search...">
                            </div>
                            <!-- profile list panel -->
                            <table class="table">
                                <tr>
                                    <th class="mediumColumn">Name</th>
                                    <th>Wallet</th>
                                    <th>Pool</th>
                                    <th class="smallColumn">Currency</th>
                                    <th class="mediumColumn">Actions</th>
                                </tr>
                                <tbody v-for="(profile,index) in user.data.profiles">
                                <tr v-show="user.profile.shown[index] && !user.flags.editingProfile[index]">
                                    <td><i v-if="profile.Default" class="fa fa-address-card"></i> {{ profile.ProfileName }} </td>
                                    <td> {{ profile.WalletName }} </td>
                                    <td> {{ profile.PoolName }} </td>
                                    <td> {{ profile.Currency}}</td>
                                    <td class="btn-group">
                                        <button v-on:click="setDefaultProfile(index)" class="btn"><i class="fa fa-address-card"></i></button>
                                        <button v-on:click="editProfilePanel(index)" class="btn"><i class="fa fa-edit"></i></button>
                                        <button v-on:click="deleteProfile(index)" class="btn"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                                <tr v-show="user.profile.shown[index] && user.flags.editingProfile[index]">
                                    <td><input v-model="user.profile.name" placeholder="Name"  class="userpanel-editform"></td>
                                    <td>
                                        <div v-on:click="profileEditWalletDropDown" class="userpanel-editform">{{ user.profile.walletName }}<i class="fa fa-caret-down" style="float: right;"></i></div>
                                        <transition name="fade">
                                            <div v-if="user.flags.profileWalletDropDown" id="dropdown" class="userpanel-dropdown-content" v-on:mouseleave="profileEditWalletDropDown">
                                                <input placeholder="Search..." class="userpanel-dropdown-input" v-model="user.profile.queryWallet" v-on:keyup.enter="profileEditWalletDropDown">
                                                <div v-for="(wallet, index) in user.data.wallets">
                                                    <div v-on:click="chooseProfileWallet(index)" v-show="user.profile.shownWallet[index]" style="cursor: pointer;">{{wallet.Name}}</div>
                                                </div>
                                            </div>
                                        </transition>
                                    </td>
                                    <td>
                                        <div v-on:click="profileEditPoolDropDown" class="userpanel-editform">{{ user.profile.poolName }}<i class="fa fa-caret-down" style="float: right;"></i></div>
                                        <transition name="fade">
                                            <div v-if="user.flags.profilePoolDropDown" id="dropdown" class="userpanel-dropdown-content" v-on:mouseleave="profileEditPoolDropDown">
                                                <input placeholder="Search..." class="userpanel-dropdown-input" v-model="user.profile.queryPool" v-on:keyup.enter="profileEditPoolDropDown">
                                                <div v-for="(pool, index) in user.data.pools">
                                                    <div v-on:click="chooseProfilePool(index)" v-show="user.profile.shownPool[index]" style="cursor: pointer;">{{pool.Name }}</div>
                                                </div>
                                                <div v-for="(pool, index) in user.data.prePools">
                                                    <div v-on:click="chooseProfilePool(index)" v-show="user.profile.shownPool[index]" style="cursor: pointer;">{{pool.Name }}</div>
                                                </div>
                                            </div>
                                        </transition>
                                    </td>
                                    <td></td>
                                    <td class="btn-group">
                                        <button v-on:click="editProfile(index)" class="btn"><i class="fa fa-check"></i></button>
                                        <button v-on:click="closeEditProfilePanel(index)" class="btn"><i class="fa fa-times"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- adding profile panel -->
                            <div>
                                <div style="float: right;">
                                    <div v-on:click="profileAddingPanel" class="userpanel-dropdown-button">New profile</div>
                                </div>
                                <transition name="fade">
                                    <div v-show="user.flags.addingProfile" style="float: left;" class="">
                                        <div><input v-model="user.profile.name" placeholder="Name" class="userpanel-addingform"></div>
                                        <div>
                                            <div v-on:click="profileEditWalletDropDown" class="userpanel-addingform">{{ user.profile.walletName }}<i class="fa fa-caret-down" style="float: right;"></i></div>
                                            <transition name="fade">
                                                <div v-if="user.flags.profileWalletDropDown" id="dropdown" class="userpanel-dropdown-content" v-on:mouseleave="profileEditWalletDropDown">
                                                    <input placeholder="Search..." class="userpanel-dropdown-input" v-model="user.profile.queryWallet" v-on:keyup.enter="profileEditWalletDropDown">
                                                    <div v-for="(wallet, index) in user.data.wallets">
                                                        <div v-on:click="chooseProfileWallet(index)" v-show="user.profile.shownWallet[index]" style="cursor: pointer;">{{wallet.Name}}</div>
                                                    </div>
                                                </div>
                                            </transition>
                                        </div>
                                        <div>
                                            <div v-on:click="profileEditPoolDropDown" class="userpanel-addingform">{{ user.profile.poolName }}<i class="fa fa-caret-down" style="float: right;"></i></div>
                                            <transition name="fade">
                                                <div v-if="user.flags.profilePoolDropDown" id="dropdown" class="userpanel-dropdown-content" v-on:mouseleave="profileEditPoolDropDown">
                                                    <input placeholder="Search..." class="userpanel-dropdown-input" v-model="user.profile.queryPool" v-on:keyup.enter="profileEditPoolDropDown">
                                                    <div v-for="(pool, index) in user.data.prePools">
                                                        <div v-on:click="chooseProfilePrePool(index)" v-show="user.profile.shownPrePool[index]" style="cursor: pointer;">{{pool.Name }}</div>
                                                    </div>
                                                    <div v-for="(pool, index) in user.data.pools">
                                                        <div v-on:click="chooseProfilePool(index)" v-show="user.profile.shownPool[index]" style="cursor: pointer;">{{pool.Name }}</div>
                                                    </div>
                                                </div>
                                            </transition>
                                        </div>
                                        <div style="float: right;">
                                            <button v-on:click="addNewProfile" class="btn"><i class="fa fa-check"></i></button>
                                            <button v-on:click="profileAddingPanel" class="btn"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                </transition>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "UserPanel",

        data() {
            return {
                onm: true,

                rigs: [],
                gpus: 0,
                query: "",
                titles: {
                    title: [],
                    shown: [],
                },

                grouper: {
                    data: {
                        grouperList: [],
                        taglist: [],
                        grouperTagList: new Array(1),
                        query: "",
                        queryList: "",
                    },
                    flags: {
                        dropdown: false,
                        shown: [],
                        shownList: [],
                    }
                },
                user: {
                    flags: {
                        // wallet
                        addingWallet: false,
                        walletList: false,
                        editingWallet: [],
                        walletDropDown: false,
                        // pool
                        addingPool: false,
                        poolList: false,
                        editingPool: [],
                        poolDropDown: false,
                        // profile
                        addingProfile: false,
                        profileList: false,
                        editingProfile: [],
                        profilePoolDropDown: false,
                        profileWalletDropDown: false,
                    },
                    data: {
                        currencies: [],
                        prePools: [],
                        wallets: [],
                        pools: [],
                        profiles: [],
                    },
                    wallet: {
                        name: "",
                        currency: "",
                        value: "",
                        query: "",
                        shown: [],
                        shownCurrency: [],
                        queryCurrency: "",
                    },
                    pool: {
                        value: "",
                        port: "",
                        name: "",
                        currency: "",
                        query: "",
                        shown: [],
                        preShown: [],
                        shownCurrency: [],
                        queryCurrency: "",
                    },
                    profile: {
                        name: "",
                        walletId: "",
                        walletName: "",
                        poolId: "",
                        poolName: "",
                        query: "",
                        shown: [],
                        edited: false,
                        shownWallet: [],
                        shownPool: [],
                        shownPrePool: [],
                        queryWallet: "",
                        queryPool: "",
                    },
                    fluenKey: "",
                }
            }
        },

        created() {
            this.titles.title = ["Info", "Grouper", "Wallet", "Pool", "Profile"];
            this.titles.shown = new Array(this.titles.title.length).fill(true);
            this.$session.set("settings", true);
            this.getRigs();
            this.getProfiles();
            this.getPools();
            this.getPrePools();
            this.getWallets();
            this.getTagList();
            this.getCurrencies();
            this.getGrouperList()
        },

        watch: {

            'user.profile.queryWallet' () {
                let re = new RegExp(this.user.profile.queryWallet.toLowerCase());
                for (let i = 0; i < this.user.data.wallets.length; i++) {
                    if (re.exec(this.user.data.wallets[i].Name.toLowerCase())) {
                        this.user.profile.shownWallet[i] = true;
                    } else {
                        this.user.profile.shownWallet[i] = false;
                    }
                }
                this.$forceUpdate();
            },

            'user.profile.queryPool' () {
                let re = new RegExp(this.user.profile.queryPool.toLowerCase());
                for (let i = 0; i < this.user.data.pools.length; i++) {
                    if (re.exec(this.user.data.pools[i].Name.toLowerCase())) {
                        this.user.profile.shownPool[i] = true;
                    } else {
                        this.user.profile.shownPool[i] = false;
                    }
                }
                for (let i = 0; i < this.user.data.prePools.length; i++) {
                    if (re.exec(this.user.data.prePools[i].Name.toLowerCase())) {
                        this.user.profile.shownPrePool[i] = true;
                    } else {
                        this.user.profile.shownPrePool[i] = false;
                    }
                }
                this.$forceUpdate();
            },

            'user.pool.queryCurrency' () {
                let re = new RegExp(this.user.pool.queryCurrency.toLowerCase());
                for (let i = 0; i < this.user.data.currencies.length; i++) {
                    if (re.exec(this.user.data.currencies[i].Name.toLowerCase())) {
                        this.user.pool.shownCurrency[i] = true;
                    } else {
                        this.user.pool.shownCurrency[i] = false;
                    }
                }
                this.$forceUpdate();
            },

            'user.wallet.queryCurrency' () {
                let re = new RegExp(this.user.wallet.queryCurrency.toLowerCase());
                for (let i = 0; i < this.user.data.currencies.length; i++) {
                    if (re.exec(this.user.data.currencies[i].Name.toLowerCase())) {
                        this.user.wallet.shownCurrency[i] = true;
                    } else {
                        this.user.wallet.shownCurrency[i] = false;
                    }
                }
                this.$forceUpdate();
            },

            'grouper.data.query' () {
                let re = new RegExp(this.grouper.data.query.toLowerCase());
                for (let i = 0; i < this.grouper.data.taglist.length; i++) {
                    if (re.exec(this.grouper.data.taglist[i].toLowerCase())) {
                        this.grouper.flags.shown[i] = true;
                    } else {
                        this.grouper.flags.shown[i] = false;
                    }
                }
                this.$forceUpdate();
            },

            'grouper.data.queryList' () {
                let re = new RegExp(this.grouper.data.queryList.toLowerCase());
                for (let i = 0; i < this.grouper.data.grouperList.length; i++) {
                    for(let j = 0; j < this.grouper.data.grouperList[i].Tags.length ; j++ ) {
                        if (re.exec(this.grouper.data.grouperList[i].Tags[j].toLowerCase())) {
                            this.grouper.flags.shownList[i] = true;
                        } else {
                            this.grouper.flags.shownList[i] = false;
                        }
                    }
                }
                this.$forceUpdate();
            },

            'user.wallet.query' () {

                let re = new RegExp(this.user.wallet.query.toLowerCase());
                for (let i = 0; i < this.user.data.wallets.length; i++) {
                    if ((re.exec(this.user.data.wallets[i].Name.toLowerCase()) ||
                        re.exec(this.user.data.wallets[i].Value.toLowerCase()) ||
                        re.exec(this.user.data.wallets[i].Currency.toLowerCase())) !== null) {
                        this.user.wallet.shown[i] = true
                    } else {
                        this.user.wallet.shown[i] = false
                    }
                }
                this.$forceUpdate();
            },

            'user.pool.query' () {

                let re = new RegExp(this.user.pool.query.toLowerCase());
                for (let i = 0; i < this.user.data.pools.length; i++) {
                    if ((re.exec(this.user.data.pools[i].Name.toLowerCase()) ||
                        re.exec(this.user.data.pools[i].Pool.toLowerCase()) ||
                        re.exec(this.user.data.pools[i].Currency.toLowerCase())) !== null) {
                        this.user.pool.shown[i] = true
                    } else {
                        this.user.pool.shown[i] = false
                    }
                }
                for (let i = 0; i < this.user.data.prePools.length; i++) {
                    if ((re.exec(this.user.data.prePools[i].Name.toLowerCase()) ||
                        re.exec(this.user.data.prePools[i].Pool.toLowerCase()) ||
                        re.exec(this.user.data.prePools[i].Currency.toLowerCase())) !== null) {
                        this.user.pool.preShown[i] = true
                    } else {
                        this.user.pool.preShown[i] = false
                    }
                }
                this.$forceUpdate();
            },

            'user.profile.query' () {

                let re = new RegExp(this.user.profile.query.toLowerCase());
                for (let i = 0; i < this.user.data.profiles.length; i++) {
                    if ((re.exec(this.user.data.profiles[i].ProfileName.toLowerCase()) ||
                        re.exec(this.user.data.profiles[i].Value.toLowerCase()) ||
                        re.exec(this.user.data.profiles[i].Pool.toLowerCase()) ||
                        re.exec(this.user.data.profiles[i].Currency.toLowerCase())) !== null) {
                        this.user.profile.shown[i] = true
                    } else {
                        this.user.profile.shown[i] = false
                    }
                }
                this.$forceUpdate();
            },

            query () {
                let re = new RegExp(this.query.toLowerCase());
                for (let i = 0; i < this.titles.title.length ; i++) {
                    if (re.exec(this.titles.title[i].toLowerCase())) {
                        this.titles.shown[i] = true
                    } else {
                        this.titles.shown[i] = false
                    }
                }
                this.$forceUpdate();
            },
        },

        methods: {

            ON() {
                this.onm = !this.onm;
            },

            profileEditWalletDropDown () {
                this.user.profile.queryWallet = "";
                this.user.flags.profileWalletDropDown = !this.user.flags.profileWalletDropDown;
            },

            profileEditPoolDropDown () {
                this.user.profile.queryPool = "";
                this.user.flags.profilePoolDropDown = !this.user.flags.profilePoolDropDown;
            },

            chooseProfileWallet(index) {
                this.user.profile.walletId = this.user.data.wallets[index].Id;
                this.user.profile.walletName = this.user.data.wallets[index].Name;
                this.user.flags.profileWalletDropDown = false;
                this.user.profile.queryWallet = "";
            },

            chooseProfilePool(index) {
                this.user.profile.poolId = this.user.data.pools[index].Id;
                this.user.profile.poolName = this.user.data.pools[index].Name;
                this.user.flags.profilePoolDropDown = false;
                this.user.profile.queryPool = "";
            },

            chooseProfilePrePool(index) {
                this.user.profile.poolId = this.user.data.prePools[index].Id;
                this.user.profile.poolName = this.user.data.prePools[index].Name;
                this.user.flags.profilePoolDropDown = false;
                this.user.profile.queryPool = "";
            },

            poolEditDropDown () {
                this.user.pool.queryCurrency = "";
                this.user.flags.poolDropDown = !this.user.flags.poolDropDown;
            },

            choosePoolCurrency(index) {
                this.user.pool.currency = this.user.data.currencies[index].Name;
                this.user.flags.poolDropDown = false;
                this.user.pool.queryCurrency = "";
            },

            walletEditDropDown () {
                this.user.wallet.queryCurrency = "";
                this.user.flags.walletDropDown = !this.user.flags.walletDropDown;
            },

            chooseWalletCurrency (index) {
                this.user.wallet.currency = this.user.data.currencies[index].Name;
                this.user.flags.walletDropDown = false;
                this.user.wallet.queryCurrency = "";
            },

            getRigs() {
                let _this = this;
                this.rigs = [];
                this.gpus = 0;

                    $.ajax({
                    url: '/api/miner/getrigs/' + _this.$session.get("email"),
                    type: 'get',
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": "-1"
                    },
                    dataType: 'json',
                    success: function(data) {
                        _this.rigs = data["Rigs"];
                        for ( let i = 0 ; i < _this.rigs.length ; i++ ) {
                            _this.gpus += _this.rigs[i].GpuDevices.length;
                        }
                        _this.$forceUpdate();
                    }
                })
            },

            chooseDropDownTag(index) {
                this.grouper.data.query = this.grouper.data.taglist[index];
                this.generateGrouper();
            },

            getTagList() {
                let _this = this;

                $.ajax({
                    url: '/api/miner/taglist',
                    type: 'get',
                    data: {
                        email: _this.$session.get("email"),
                    },
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": "-1",
                    },
                    success(data) {
                        _this.grouper.data.taglist = data;
                        _this.grouper.data.taglist.sort(function(a, b) {
                            if (a < b)
                                return -1;
                            if (a > b)
                                return 1;
                            return 0;
                        });
                        _this.grouper.flags.shown = new Array(data.length).fill(true);
                        _this.$forceUpdate();
                    }
                })
            },

            grouperDropDown() {
                this.grouper.data.query = "";
                this.grouper.flags.dropdown = !this.grouper.flags.dropdown;
            },

            getGrouperList() {
                let _this = this;

                $.ajax({
                    url: '/api/miner/grouperlist',
                    type: 'get',
                    data: {
                        email: _this.$session.get("email"),
                    },
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": "-1",
                    },
                    success: function (data) {
                        _this.grouper.data.grouperList = data;
                        _this.grouper.data.grouperList.sort(function(a, b) {
                            if (a.Tags[0] < b.Tags[0])
                                return -1;
                            if (a.Tags[0] > b.Tags[0])
                                return 1;
                            return 0;
                        });
                        _this.grouper.flags.shownList = new Array(data.length).fill(true);
                        _this.$forceUpdate();
                    },
                })
            },

            generateGrouper() {
                let _this = this;

                this.grouper.data.grouperTagList[0] = this.grouper.data.query;

                for ( let i = 0 ; i < this.grouper.data.grouperList.length ; i++ ) {
                    if ( this.grouper.data.grouperList[i].Tags[0] === this.grouper.data.grouperTagList[0] ) {
                        alert("That grouper already exists");
                        _this.grouper.flags.dropdown = false;
                        _this.grouper.data.query = "";
                        return ;
                    }
                }

                $.ajax({
                    url: '/api/miner/generategrouper',
                    type: 'post',
                    data: JSON.stringify({ TagList: _this.grouper.data.grouperTagList }),
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": "-1",
                        "Content-Type": "application/json"
                    },
                    success: function (data) {
                        _this.getGrouperList();
                        _this.grouper.flags.dropdown = false;
                        _this.grouper.data.query = "";
                        _this.$forceUpdate();
                    },
                })
            },

            removeGrouper(index) {
                let _this = this;

                if (confirm("Do your really want to remove grouper: " + _this.grouper.data.grouperList[index].GrouperKey + " ?\n" +
                    "Press OK if you wish to reset it or Cancel to abort action")) {
                    $.ajax({
                        url: '/api/miner/removegrouper',
                        type: 'get',
                        data: {
                            grouperKey: _this.grouper.data.grouperList[index].GrouperKey,
                        },
                        headers: {
                            "fluen-key": _this.$session.get("fluenKey"),
                            "email": _this.$session.get("email"),
                            "rigid": "-1",
                        },
                        success: function (data) {
                            _this.getGrouperList();
                        },
                    })
                }
            },

            getCurrencies() {
                let _this = this;

                $.ajax({
                    url: '/api/sex/currencylist',
                    type: 'get',
                    success: function (data) {
                        _this.user.data.currencies = data;
                        _this.user.wallet.shownCurrency = new Array(data.length).fill(true);
                        _this.user.pool.shownCurrency = new Array(data.length).fill(true);
                    }
                })
            },

            updateAllMinersVersion() {
                let _this = this;

                if (confirm("Do your really want to update all rigs?\n" +
                    "Press OK if you wish to update them or Cancel to abort action")) {
                    $.ajax({
                        url: '/api/miner/update',
                        type: 'get',
                        headers: {
                            "fluen-key": _this.$session.get("fluenKey"),
                            "email": _this.$session.get("email"),
                            "rigid": "-1",
                        },
                    })
                }
            },

            // ---------------- \\
            //      WALLETS     \\
            // ---------------- \\

            walletAddingPanel() {
                this.user.flags.editingWallet.fill(false);
                this.user.flags.addingWallet = !this.user.flags.addingWallet;
                if ( this.user.flags.addingWallet ) {
                    this.user.wallet.currency = "Currency";
                    this.user.wallet.name = "";
                    this.user.wallet.value = "";
                }
            },

            addNewWallet() {
                if (this.user.wallet.name === "" || this.user.wallet.currency === "" || this.user.wallet.value === "") {
                    alert("You have left empty fields.\n" +
                        "Please fill them to add your wallet succesfully")
                } else {
                    let _this = this;

                    $.ajax({
                        url: '/api/miner/addwallet',
                        type: 'post',
                        headers: {
                            "fluen-key": _this.$session.get("fluenKey"),
                            "email": _this.$session.get("email"),
                            "rigid": "-1"
                        },
                        data: {
                            Value: _this.user.wallet.value,
                            Name: _this.user.wallet.name,
                            Currency: _this.user.wallet.currency,
                            Email: _this.$session.get("email")
                        },
                        dataType: 'json',
                    })
                        .always(function() {
                            _this.getWallets();
                            _this.user.flags.addingWallet = false;
                            _this.$forceUpdate();
                        });
                }
            },

            getWallets() {
                let _this = this;

                $.ajax({
                    url: '/api/miner/walletlist?email=' + _this.$session.get("email"),
                    type: 'get',
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": "-1"
                    },
                    data: {
                        Value: _this.user.wallet.value,
                        Name: _this.user.wallet.name,
                        Currency: _this.user.wallet.currency,
                        Email: _this.$session.get("email")
                    },
                    success: function(data) {
                        _this.user.data.wallets = data;
                        _this.sortUser(_this.user.data.wallets);
                    }
                })
                    .done(function() {
                        _this.user.wallet.shown = new Array(_this.user.data.wallets.length).fill(true);
                        _this.user.profile.shownWallet = new Array(_this.user.data.wallets.length).fill(true);
                        _this.$forceUpdate();
                    });

                this.user.flags.editingWallet = new Array(this.user.data.wallets.length).fill(false);
            },

            deleteWallet(index) {
                let _this = this;

                if (confirm("Do your really want to remove wallet: " + _this.user.data.wallets[index].Name + " ?\n" +
                    "Press OK if you wish to reset it or Cancel to abort action")) {
                    $.ajax({
                        url: '/api/miner/deletewallet',
                        type: 'get',
                        headers: {
                            "fluen-key": _this.$session.get("fluenKey"),
                            "email": _this.$session.get("email"),
                            "rigid": "-1"
                        },
                        data: {
                            walletId: _this.user.data.wallets[index].Id
                        },
                        success: function () {
                            _this.getWallets()
                            _this.getProfiles();
                        }
                    })
                        .done(function () {
                            _this.$forceUpdate();
                        });
                }
            },

            editWalletPanel(index) {
                this.user.flags.addingWallet = false;
                this.user.flags.editingWallet.fill(false);
                this.user.wallet.name = this.user.data.wallets[index].Name;
                this.user.wallet.currency = this.user.data.wallets[index].Currency;
                this.user.wallet.value = this.user.data.wallets[index].Value;
                this.user.flags.editingWallet[index] = true;
                this.$forceUpdate();
            },

            closeEditWalletPanel(index) {
                this.user.flags.editingWallet[index] = false;
                this.$forceUpdate();
            },

            editWallet(index) {
                let _this = this;

                $.ajax({
                    url: '/api/miner/editwallet',
                    type: 'post',
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": "-1"
                    },
                    data: {
                        Id: _this.user.data.wallets[index].Id,
                        Value: _this.user.wallet.value,
                        Name: _this.user.wallet.name,
                        Currency: _this.user.wallet.currency,
                    },
                    dataType: 'text',
                    success: function() {
                        _this.getWallets();
                        _this.getProfiles();
                    }
                })
                    .done(function() {
                        _this.user.flags.editingWallet[index] = false;
                        _this.$forceUpdate();
                    });
            },

            // ---------------- \\
            //      Pools       \\
            // ---------------- \\

            poolAddingPanel() {
                this.user.flags.editingPool.fill(false);
                this.user.flags.addingPool = !this.user.flags.addingPool;
                if ( this.user.flags.addingPool ) {
                    this.user.pool.currency = "Currency";
                    this.user.pool.name = "";
                    this.user.pool.value = "";
                    this.user.pool.port = "";
                }
            },

            addNewPool() {
                if (this.user.pool.name === "" || this.user.pool.currency === "" || this.user.pool.value === "" || this.user.pool.port === "") {
                    alert("You have left empty fields.\n" +
                        "Please fill them to add your pool succesfully")
                } else {
                    let _this = this;

                    $.ajax({
                        url: '/api/miner/addpool',
                        type: 'post',
                        headers: {
                            "fluen-key": _this.$session.get("fluenKey"),
                            "email": _this.$session.get("email"),
                            "rigid": "-1"
                        },
                        data: {
                            Pool: _this.user.pool.value,
                            Port: _this.user.pool.port,
                            Name: _this.user.pool.name,
                            Currency: _this.user.pool.currency,
                            Email: _this.$session.get("email")
                        },
                        dataType: 'json'
                    })
                        .always(function() {
                            _this.getPools();
                            _this.user.flags.addingPool = false;
                            _this.$forceUpdate();
                        });
                }
            },

            poolListPanel() {
                if (this.user.flags.addingPool)
                    this.poolAddingPanel();
                this.user.flags.poolList = !this.user.flags.poolList;
                this.user.flags.editingPool.fill(false);
                if (this.user.flags.poolList) {
                    this.getPools();
                    this.user.pool.preShown = new Array(this.user.data.prePools.length).fill(true);
                }
            },

            getPools() {
                let _this = this;

                $.ajax({
                    url: '/api/miner/poollist?email=' + _this.$session.get("email"),
                    type: 'get',
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": "-1"
                    },
                    data: {
                        Pool: _this.user.pool.value,
                        Port: _this.user.pool.port,
                        Name: _this.user.pool.name,
                        Currency: _this.user.pool.currency,
                        Email: _this.$session.get("email")
                    },
                    success: function(data) {
                        _this.user.data.pools = data;
                        _this.user.profile.shownPool = new Array(data.length).fill(true);
                        _this.sortUser(_this.user.data.pools)
                    }
                })
                    .done(function() {
                        _this.user.pool.shown = new Array(_this.user.data.pools.length).fill(true);
                    });
                this.user.flags.editingPool = new Array(this.user.data.pools.length).fill(false);
            },

            getPrePools() {
                let _this = this;

                $.ajax({
                    url: '/api/sex/prepoollist',
                    type: 'get',
                    success: function(data) {
                        _this.user.data.prePools = data;
                    }
                })
                    .done(function() {
                        _this.user.pool.preShown = new Array(_this.user.data.prePools.length).fill(true);
                        _this.user.profile.shownPrePool = new Array(_this.user.data.prePools.length).fill(true);
                    });
            },

            deletePool(index) {
                let _this = this;
                if (confirm("Do your really want to remove pool: " + _this.user.data.pools[index].Name + " ?\n" +
                    "Press OK if you wish to reset it or Cancel to abort action")) {
                    $.ajax({
                        url: '/api/miner/deletepool',
                        type: 'get',
                        headers: {
                            "fluen-key": _this.$session.get("fluenKey"),
                            "email": _this.$session.get("email"),
                            "rigid": "-1"
                        },
                        data: {
                            poolId: _this.user.data.pools[index].Id
                        },
                        success: function () {
                            _this.getPools();
                            _this.getProfiles();
                        }
                    })
                        .done(function () {
                            _this.$forceUpdate();
                        });
                }
            },

            editPoolPanel(index) {
                this.user.flags.addingPool = false;
                this.user.flags.editingPool.fill(false);
                this.user.pool.name = this.user.data.pools[index].Name;
                this.user.pool.currency = this.user.data.pools[index].Currency;
                this.user.pool.value = this.user.data.pools[index].Pool;
                this.user.pool.port = this.user.data.pools[index].Port;
                this.user.flags.editingPool[index] = true;
                this.$forceUpdate();
            },

            closeEditPoolPanel(index) {
                this.user.flags.editingPool[index] = false;
                this.$forceUpdate();
            },

            editPool(index) {
                let _this = this;

                $.ajax({
                    url: '/api/miner/editpool',
                    type: 'post',
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": "-1"
                    },
                    data: {
                        Id: _this.user.data.pools[index].Id,
                        Pool: _this.user.pool.value,
                        Name: _this.user.pool.name,
                        Currency: _this.user.pool.currency,
                        Port: _this.user.pool.port,
                    },
                    dataType: 'text',
                    success: function() {
                        _this.getPools();
                        _this.getProfiles()
                    }
                })
                    .done(function() {
                        _this.user.flags.editingPool[index] = false;
                        _this.$forceUpdate();
                    });
            },

            // ---------------- \\
            //      Profile     \\
            // ---------------- \\

            profileAddingPanel() {
                this.user.flags.editingProfile.fill(false);
                this.user.flags.addingProfile = !this.user.flags.addingProfile;
                if ( this.user.flags.addingProfile ) {
                    this.user.profile.name = "";
                    this.user.profile.walletName = "Wallet";
                    this.user.profile.poolName = "Pool";
                }
            },

            addNewProfile() {
                if (this.user.profile.name === "" || this.user.profile.poolId === "" || this.user.profile.walletId === "") {
                    alert("You have left empty fields.\n" +
                        "Please fill them to add your profile succesfully")
                } else {
                    let _this = this;

                    $.ajax({
                        url: '/api/miner/addprofile',
                        type: 'post',
                        headers: {
                            "fluen-key": _this.$session.get("fluenKey"),
                            "email": _this.$session.get("email"),
                            "rigid": "-1"
                        },
                        data: {
                            Name: _this.user.profile.name,
                            WalletId: _this.user.profile.walletId,
                            PoolId: _this.user.profile.poolId,
                            Email: _this.$session.get("email")
                        },
                        dataType: 'json',
                    })
                        .always(function() {
                            _this.getProfiles();
                            _this.user.profile.edited = true;
                            _this.user.flags.addingProfile = false;
                            _this.$forceUpdate();
                        });
                }
            },

            getProfiles() {
                let _this = this;

                $.ajax({
                    url: '/api/miner/profilelist?email=' + _this.$session.get("email"),
                    type: 'get',
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": "-1"
                    },
                    success: function(data) {
                        _this.user.data.profiles = data;
                        _this.sortUserProfile(_this.user.data.profiles)
                    }
                })
                    .done(function() {
                        if (_this.user.data.profiles.length === 1 && _this.user.data.profiles[0].Default === false) {
                            _this.setDefaultProfile(0);
                        }
                        _this.user.profile.shown = new Array(_this.user.data.profiles.length).fill(true);
                        _this.$forceUpdate();
                    });

                this.user.flags.editingProfile = new Array(this.user.data.profiles.length).fill(false);
            },

            deleteProfile(index) {
                let _this = this;

                if (confirm("Do your really want to remove profile: " + _this.user.data.profiles[index].ProfileName + " ?\n" +
                    "Press OK if you wish to reset it or Cancel to abort action")) {
                    $.ajax({
                        url: '/api/miner/deleteprofile',
                        type: 'get',
                        headers: {
                            "fluen-key": _this.$session.get("fluenKey"),
                            "email": _this.$session.get("email"),
                            "rigid": "-1"
                        },
                        data: {
                            profileId: _this.user.data.profiles[index].ProfileId
                        },
                        success: function () {
                            _this.getProfiles();
                        }
                    })
                        .done(function () {
                            _this.$forceUpdate();
                        });
                }
            },

            editProfilePanel(index) {
                this.user.flags.addingProfile = false;
                this.user.flags.editingProfile.fill(false);
                this.user.profile.name = this.user.data.profiles[index].ProfileName;
                this.user.profile.poolName = this.user.data.profiles[index].PoolName;
                this.user.profile.walletName = this.user.data.profiles[index].WalletName;
                this.user.flags.editingProfile[index] = true;
                this.$forceUpdate();
            },

            closeEditProfilePanel(index) {
                this.user.flags.editingProfile[index] = false;
                this.$forceUpdate();
            },

            editProfile(index) {
                let _this = this;

                $.ajax({
                    url: '/api/miner/editprofile',
                    type: 'post',
                    headers: {
                        "fluen-key": _this.$session.get("fluenKey"),
                        "email": _this.$session.get("email"),
                        "rigid": "-1"
                    },
                    data: {
                        Id: _this.user.data.profiles[index].ProfileId,
                        Name: _this.user.profile.name,
                        PoolId: _this.user.profile.poolId,
                        WalletId: _this.user.profile.walletId,
                    },
                    dataType: 'text',
                    success: function() {
                        _this.getProfiles();
                    }
                })
                    .done(function(index) {
                        _this.user.flags.editingProfile[index] = false;
                        _this.user.profile.edited = true;
                        _this.$forceUpdate();
                    });
            },

            setDefaultProfile(index) {
                let _this = this;

                if (confirm("Do your really want to set profile: " + _this.user.data.profiles[index].ProfileName + " to default?\n" +
                    "Press OK if you wish to reset it or Cancel to abort action")) {
                    $.ajax({
                        url: '/api/miner/setdefaultprofile?profileId=' + _this.user.data.profiles[index].ProfileId + '&email=' + _this.$session.get("email"),
                        type: 'get',
                        headers: {
                            "fluen-key": _this.$session.get("fluenKey"),
                            "email": _this.$session.get("email"),
                            "rigid": "-1"
                        },
                        dataType: 'json',
                    })
                        .always(function () {
                            _this.getProfiles();
                            _this.$forceUpdate();
                        });
                }
            },

            sortUser(array) {
                array.sort(function(a, b) {
                    if (a.Id < b.Id)
                        return -1;
                    if (a.Id > b.Id)
                        return 1;
                    return 0;
                });
            },

            sortUserProfile(array) {
                array.sort(function(a, b) {
                    if (a.ProfileId < b.ProfileId)
                        return -1;
                    if (a.ProfileId > b.ProfileId)
                        return 1;
                    return 0;
                });
            },
        }
    }
</script>