.navbarStyle {
    background: #4885ed;
    color: white;
    display: flex;
    z-index: 100;
    width: 100%;
}

.navbarIcons {
    font-size: 35px!important;
}

.faerr {
    color: #db3236!important;
}

.btn {
    background-color: inherit!important;
    line-height: 0!important;
}

.btn:hover {
    cursor: -webkit-grab;
    cursor: grab;
}

.fangrab:hover {
    cursor: -webkit-grab;
    cursor: grab;
}

.panel-heading {
    display: flex!important;
    padding: 0!important;
}

.panel-heading-miner {
    height: 55px;
    overflow: auto;
    display: table;
    cursor: nwse-resize;
}

.fluenKey::selection {
    background: #666; /* it's not devil, it's just a color! */
}

.fluenKey::-moz-selection {
    background: #666
}

.Name {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 22px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
}

.miniMinerTable {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.userpanel-header {
    font-size: 40px;
    font-weight: 900;
    justify-content: space-between;
    padding: 0 0 5px 0;
}

.fa-btn {
    transition: color 0.15s;
    cursor: pointer;
    font-size: 25px;
}

.fa-btn:hover {
    color: #303030;
}

.panel {
    border: none!important;
}

.panel-primary {
    border-color: #2663cb!important;
}

.panel-primary>.panel-heading {
    background-color: #3774dc!important;
}

.miner-submit {
    background-color: #fff;
    color: #4885ed;
    padding: 5px 15px;
    margin-bottom: 10px;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid #4885ed;
    border-radius: 10px 0 10px 0;
    transition: color 1s, border-color 1s, box-shadow 1s;
}

.miner-submit:hover {
    color: #3cba54;
    border-color: #3cba54;
    box-shadow: 0 0 10px rgba(33, 33, 33, 0.2), 0 0 20px rgba(33, 33, 33, 0.19);
}

.userpanel-content table {
    font-size: 20px;
    color: #666;
    word-wrap: break-word;
}

.userpanel-content .fa {
    color: #4885ed;
    transition: color 0.5s;
}

.userpanel-content .btn .fa:hover {
    color: #3cba54;
}

.miner-flash-table .btn:focus {
    color: #4885ed!important;
}

.userpanel-content a {
    color: #4885ed;
    transition: color 0.5s;
}

.userpanel-content a:hover {
    color: #3cba54;
}

.userpanel-content {
    font-size: 20px;
    margin: 0 5px 5px 5px;
    border: none!important;
}

.table td, .table th {
  border-top: none!important;
}

.userpanel-grouper-select {
    text-align: right;
}

.userpanel-box {
    margin: 25px 0;
    animation: fadein 1s;
}

.userpanel-actions {
    width: 100px;
}

.userpanel-panel {
    background-color: #FAFAFA;
    box-shadow: unset!important;
    border-top: 6px solid #4885ed!important;
}

.userpanel-addingform {
    margin: 5px;
    width: 500px;
    text-indent: 10px;
    background-color: #FFFFFF;
    border: none;
    border-bottom: 1px solid #AAAAAA;
    outline: none;
}

.userpanel-editform {
    width: 100%;
    max-width: 300px;
    background-color: #FFFFFF;
    border: none;
    border-bottom: 1px solid #AAAAAA;
    outline: none;
}

.userpanel-addingform:focus {
    border-bottom: 1px solid #4885ed;
}

.userpanel-addingform::selection {
    background-color: #4885ed;
    color: #FFFFFF
}

.nbsp {
    width: 100%;
}

.fa {
    font-size: 25px;
}

.login {
    width: 30%;
    margin: auto;
}

.outer {
    padding-top: 10%;
    margin: auto;
    height: 100%;
    max-width: 332px;
    width: 100%;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.outerTut {
    padding-top: 150px;
    margin: auto;
    height: 100%;
    max-width: 60%;
    width: 100%;
}

.innerTut {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.login-page {
    background: linear-gradient(225deg, rgba(0,0,0,.8), rgba(72, 133, 237,0) 70%),
    linear-gradient(135deg, rgba(0, 0, 0,.8), rgba(72, 133, 237,0) 65%),
    linear-gradient(315deg, rgba(0,0,0,.8), rgba(0,0,0,0) 70%),
    linear-gradient(45deg, rgba(0,0,0,.8), rgba(72, 133, 237,0.8) 70%),
    linear-gradient(90deg, rgba(0,255,0,0) 30%,rgba(72, 133, 237,.8));
    position: fixed;
    height: 100%;
    width: 100%;
    animation: fadein 0.69s;
}

.login-box {
    margin: 125px 20%;
    color: #fff;
    opacity: 0.9;
}

.login-header-logo {
    max-height: 80px
}

.login-header {
    font-weight: 900;
    font-size: 26px;
    padding: 0 12px;
    border-bottom: 3px solid #fff;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}

.login-header a {
    color: #fff;
    font-size: 22px;
    padding: 4px 0 0 0;
    transition: color 1s, opacity 1s;
}

.login-header a:hover {
    color: #f4c20d;
    opacity: 1;
    text-decoration: none;
}

.login-header a:focus {
    outline: none;
    color: inherit;
    text-decoration: none;
}

.login-content {
    padding: 100px 15%;
}

.login-fields {
    padding: 25px;
    font-size: 20px;
    font-weight: 700;
}

.login-field input {
    outline: none;
    border: none;
    color: #FFF;
    text-indent: 8px;
    padding: 5px;
    border-radius: 5px;
    background: transparent;
    caret-color: #fff;
    width: 100%;
    border-bottom: 1px solid #fff
}

.login-buttons {
    float: right;
}

.login-foot {
    bottom: 0;
    position: fixed;
    color: white;
    font-size: 32px;
    padding: 25px 0;
    width: 100%;
    text-align: center;
}

.login-foot-text {
    font-size: 16px;
    padding: 0;
}

.login-foot a {
    padding: 0 5px;
    cursor: pointer;
    color: #fff;
    transition: color 1s;
}

.login-foot a:hover {
    color: #f4c20d;
    text-decoration: none;
}

.login-foot a:focus {
    color: #fff;
    text-decoration: none;
    outline: none;
}

.login-buttons button {
    border: 2px solid #FFF;
    border-radius: 10px 0 10px 0;
    background: transparent;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 25px;
    transition: color 1s, border 1s, opacity 1s;
}

.login-buttons button:hover {
    color: #f4c20d;
    border-color: #f4c20d;
    opacity: 1;
}

.login-fields p {
    padding: 15px;
    text-align: center;
}

.login-field input::placeholder {
    color: #999;
}

.login-field td {
    padding: 15px;
}

.btn-primary {
    background-color: #4885ed!important;
    border-color: #4885ed!important;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none!important;
    color: inherit!important;
    background-color: inherit!important;
}

.input:focus,.input:active {
    outline: none !important;
    box-shadow: none!important;
    color: inherit!important;
    background-color: inherit!important;
}

.minerOutput {
    position: fixed;
    bottom: 5px;
    overflow: auto;
    z-index: 10;
    width: 100%;
    float: left;
    padding: 0 150px;
    height: 20%;
}

.minerOutput pre {
    margin: 0;
    font-size: 14px;
    color: #666;
    background-color: #FFFFFF;
    padding: 0 10px;
    margin-bottom: 8px;
    height: 90%;
}

.slide-enter-active {
    animation: slide 1s;
}

.slide-leave-active {
    animation: slide 1s reverse;
}

@keyframes slide {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.mineMenu {
    z-index: 50;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #F0F0F0;
    padding: 0 0 150px 0;
}

.navbar {
    margin-bottom: 0!important;
    justify-content: normal;
    height: 100px;
    border: none!important;
    position: fixed!important;
    border-radius: 0!important;
}

.container {
    padding: 0!important;
}

.userPanel {
    color: #4885ed;
    margin: 35px 150px;
    animation: fadein 0.69s;
    padding-top: 100px;
}

.miner-miners {
    animation: fadein 0.69s;
    margin: 25px 150px;
}

.miner-panel {
    color: #FFF
}

.miner-panel-body {
    margin: 10px 2px;
    color: #666
}

.miner-panel-body button {
    color: #4885ed;
}

.miner-panel-body button:hover {
    color: #3cba54;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;

    }
}

.spinner {
    animation: spin 2s infinite;
    vertical-align: middle;
    padding: 1px 5px;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.table {
    table-layout:fixed;
    font-size: 16px;
}

.table>tbody>tr>td {
    word-wrap: break-word;
}

.form-control {
    color: #666!important;
    font-size: inherit;
    overflow: hidden;
    border-width: 3px;
    border-style: solid!important;
    border-color: #4885ed!important;
    width: 200px!important;
    font-family: inherit;
    height: 35px!important;
}

.inputName {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px!important;
    max-width: 200px!important;
    color: #666;
    font-size: 15px;
    overflow: hidden;
    border: 1px solid #4885ed;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
    font-family: inherit;
    height: 35px!important;
}

#mine .fix-banner-size-navbar {
    max-height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    transform: translateY(-4px);
}

.prof {
    background-color: inherit;
    -moz-border-radius:13px;
    -webkit-border-radius:13px;
    border-radius:13px;
    border: 2px solid #FFFFFF;
    display:inline-block;
    color:#FFFFFF;
    text-shadow:0 1px 0 #777777;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px 5px 0 5px;
    cursor: initial;
    overflow: hidden;
    max-width: 300px;
    text-overflow: ellipsis;
    min-height: 40px;
}

#mine .navbarSearch {
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
    font-size: 18px;
}

.flex-position {
    display: flex;
}

.chooseProfile {
    height: 20px;
    width: 100px!important;
}

.lightMeUp:hover {
    background-color: lightgoldenrodyellow!important;
}

.email {
    background-color: #4885ed;
    font-size: 20px;
    color: white;
    justify-content: space-between;
}

.fluenKey:hover {
    color: lightgoldenrodyellow!important;
}

.mediumerColumn {
    width: 25%!important;
}

.mediumColumn {
    width: 20%!important;
}

.smallColumn {
    width: 15%!important;
}

.ultraSmallColumn {
    width: 8%!important;
}

.miner-upload-box {
    width: 25%;
    justify-content: right;
}

.miner-buttons {
    margin-top: 25px;
}

.miner-flash-submit {
    background-color: #FFF;
    border: 2px solid #4885ed;
    padding: 5px;
    width: 100%;
    color: #4885ed;
    cursor: pointer;
    transition: border-color 1s, color 1s, box-shadow 1s;
    text-align: center;
    border-radius: 10px 0 10px 0;
    font-weight: 700;
    margin: 15px 0 0 0;
    outline: none;
    max-width: 300px;
    float: right;
}

.miner-flash-submit:hover {
    border-color: #3cba54;
    color: #3cba54;
    box-shadow: 0 0 10px rgba(33, 33, 33, 0.2), 0 0 20px rgba(33, 33, 33, 0.19);
}

.miner-flash-header-text {
    margin: 25px 0 0 0;
}

.miner-flash-uploadfield {
    border-radius: 10px;
    overflow: hidden;
    height: 150px;
    width: 100%;
    background-color: #DDDDDD;
    transition: background-color 0.69s;
    cursor: pointer;
}

.miner-flash-uploadfield:hover {
    background-color: #BBBBBB;
}

.miner-flash-uploadfield [type=file] {
    opacity: 0;
    border-radius: inherit;
    width: inherit;
    height: inherit;
    cursor: pointer;
}

.miner-flash-table {
    max-height: 450px;
    overflow: auto;
}

.miner-flash-table .fa {
    font-size: 20px;
}

.miner-flash-table .btn {
    padding: 0 5px;
}

#mine .navbar-logo-position {
    float: left;
    margin-right: auto;
}

#mine .navbar-fix {
    justify-content: normal;
}
.editForm {
    width: 100% !important
}

.vue-slider-component .vue-slider-dot {
    z-index: 0!important;
}

#mine .navbar-button-position {
    float: right;
    margin-left: auto;
}

#mine .navbar-size-fix {
    width: 100%;
    margin: 0 150px;
}

#mine .navbar-button-fix {
    padding-top: 7px;
    margin-top: auto;
    margin-bottom: auto;
}

.scrollableTable {
    max-height: 150px;
    overflow: auto;
    margin: 5px 1px;
    border-radius: 5px;
}

.stateInfo {
    font-size: 16px;
    margin: auto 10px auto auto;
    font-weight: bold;
}

.panelTable {
    margin-bottom: 0!important;
}

@font-face {
    font-family: 'Verdana', serif;
}

.update-loading {
    z-index: 100;
    position: relative;
    max-height: 40px;
    color: inherit;
}

.updateDots {
    margin: auto 5px auto 0;
    cursor: default;
}

.updateDotGreen {
    color: #3cba54;
    font-size: 11px;
}

.updateDotRed {
    color: #f4c20d;
    font-size: 11px;
}

.updateVersionInfo {
    position: absolute;
    right: 0;
    background-color: #DDDDDD;
    border: 1px solid #AAAAAA;
    border-radius: 10px;
    z-index: 10;
    color: #303030;
    font-size: 16px;
    padding: 5px;
    cursor: default;
    transform: translate(-15px,-23px);
}

.miners-layout {
    padding-top: 100px;
    margin: 0 auto;
}

.miner-btn-chart {
    background-color: #FFF;
    border: 2px solid #4885ed;
    padding: 5px;
    margin: 5px 10px;
    max-width: 200px;
    width: 100%;
    font-size: 20px;
    color: #4885ed;
    cursor: pointer;
    transition: border-color 1s, box-shadow 1s, color 1s;
    text-align: center;
    border-radius: 10px 0 10px 0;
    font-weight: 700;
}

.miner-slider {
    padding: 20px 0!important;
}

.miner-btn {
    background-color: #4885ed;
    border: 1px solid #4885ed;
    border-radius: 3px;
    padding: 5px 3px;
    margin-top: 3px;
    max-width: 250px;
    float: right;
    width: 100%;
    font-size: 20px;
    color: #FEFEFE;
}

.userpanel-update {
    background-color: #fff;
    color: #4885ed;
    padding: 1px!important;
    font-weight: 700;
    text-align: center;
    border: 2px solid #4885ed;
    border-radius: 10px 0 10px 0;
    cursor: pointer;
    transition: border-color 1s, box-shadow 1s, color 1s;
    vertical-align: middle!important;
}

.btn .fa {
    transition: color 0.5s;
}

.userpanel-update:hover {
    box-shadow: 0 0 10px rgba(51, 122, 184, 0.2), 0 0 20px rgba(51, 122, 184, 0.19);
    border-color: #3cba54;
    color: #3cba54;
}

.miner-btn:focus {
    outline: none;
}

.miner-btn:hover {
    background-color: #3cba54;
    border-color: #2ba943;
    color: #FEFEFE;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.miner-btn-chart:focus {
    outline: none;
}

.miner-btn-chart:hover {
    box-shadow: 0 0 10px rgba(51, 122, 184, 0.2), 0 0 20px rgba(51, 122, 184, 0.19);
    border-color: #3cba54;
    color: #3cba54;
}

.miner-btn-group {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}

.navbar-btn-group {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}

.readonly-sign-out {
    color: #FFF;
}

.readonly-sign-out:hover {
    color: #101010;
}

.profile-choose {
    font-size: 92px;
    display: inline-block;
    transform: translate(0,-5px);
}

.profile-info {
    display: inline-block;
    margin: 0 0 0 5px;
}

.tag-choose {
    display: inline-block;
    font-size: 92px;
    transform: translate(0,-5px);
}

.tag-box {
    display: inline-block;
}

.userpanel-dropdown-button {
    background-color: #FFF;
    border: 2px solid #4885ed;
    padding: 5px;
    width: 300px;
    color: #4885ed;
    cursor: pointer;
    transition: border-color 1s, box-shadow 1s, color 1s;
    text-align: center;
    border-radius: 10px 0 10px 0;
    font-weight: 700;
}

.userpanel-dropdown-button:focus {
    outline: none;
}

.userpanel-dropdown-button:hover {
    box-shadow: 0 0 10px rgba(51, 122, 184, 0.2), 0 0 20px rgba(51, 122, 184, 0.19);
    border-color: #3cba54;
    color: #3cba54;
}

.miner-dropdown-button {
    background-color: #fff;
    border: 2px solid #4885ed;
    padding: 5px;
    width: 300px;
    color: #4885ed;
    cursor: pointer;
    transition: border-color 1s, box-shadow 1s, color 1s;
    text-align: center;
    border-radius: 10px 0 10px 0;
    font-weight: 700;
}

.miner-dropdown-button:hover {
    border-color: #3cba54;
    box-shadow: 0 0 10px rgba(33, 33, 33, 0.2), 0 0 20px rgba(33, 33, 33, 0.19);
    color: #3cba54;
}

.userpanel-dropdown {
    float: right;
}

.userpanel-dropdown-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #AAAAAA;
    text-indent: 10px;
    outline: none;
    color: #666;
}

.userpanel-dropdown-content {
    position: absolute;
    z-index: 50;
    border: 1px solid #3774dc;
    border-radius: 0 10px 10px 10px;
    background-color: #FFFFFF;
    color: #666;
    width: 300px;
    padding: 15px 15px;
}

.userpanel-search {
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #AAAAAA;
    text-indent: 10px;
    outline: none;
    margin: 10px 0;
    color: #666;;
}

.fade-enter-active, .fade-leave-active {
    transition: all 1s ease-in-out;
}

.my-profile-box {
    border: 5px solid transparent;
    border-top-color: rgb(51, 122, 183) !important;
}

.my-profile-header {
    margin-left: 0;
    font-size: 40px;
    padding: 0;
}

.my-profile-details {
    font-size: 20px;
    width: 65%;
    padding-bottom: 30px;
}

.my-profile-selection-header {
    font-size: 25px;
}

.my-tags-box {
    border: 5px solid transparent;
    border-top-color: rgb(51, 122, 183) !important;
}

.my-tags-header {
    font-size: 40px;
}

.my-tags-content {
    width: 65%;
    font-size: 20px;
}

.my-tags-new-header {
    font-size: 25px;
}

    @media only screen and (min-width: 800px) and (max-width: 1199px) {

        .miner-buttons {
            margin-top: 20px;
        }

        .login-foot {
            font-size: 28px;
        }

        .login-foot-text {
            font-size: 14px
        }

        .login-box {
            margin: 100px 15%;
        }

        .login-header-logo {
            max-height: 80px
        }

        .login-header {
            font-size: 22px;
            padding: 0 10px;
        }

        .login-header a {
            font-size: 18px;
            padding: 4px 0 0 0;
        }

        .login-content {
            padding: 80px 10%;
        }

        .login-fields {
            padding: 20px;
            font-size: 16px;
        }

        .login-field input {
            text-indent: 8px;
            padding: 5px;
        }

        .login-buttons {
            margin: 12px;
        }

        .login-buttons button {
            font-size: 16px;
            padding: 4px 20px;
        }

        .login-fields p {
            padding: 12px;
            text-align: center;
        }

        .login-field td {
            padding: 12px;
        }

        .miner-flash-table {
            max-height: 400px;
        }

        .miner-flash-table .fa {
            font-size: 17px;
        }

        .miner-flash-table .btn {
            padding: 0 3px;
        }

        .miner-flash-uploadfield {
            height: 125px;
        }

        .minerOutput {
            padding: 0 100px;
        }

        .minerOutput pre {
            font-size: 12px;
        }


    .update-loading {
        max-height: 35px;
    }

    .miner-panel-body {
        margin: 8px 2px
    }

    .panel-body{
        padding: 12px!important;
    }

    #mine .navbar-size-fix {
        margin: 0 100px;
    }

     .miner-miners {
         margin: 22px 100px;
     }

    .userPanel {
        margin: 30px 100px
    }

    .fa {
        font-size: 19px;
    }

    .userpanel-content table {
        font-size: 17px;
    }

    .userpanel-content {
        font-size: 17px;
    }

    .userpanel-header {
        font-size: 34px;
    }

    .userpanel-dropdown-input {
        font-size: 17px;
        text-indent: 8px;
    }

    .userpanel-dropdown-button {
        width: 250px;
    }

    .miner-dropdown-button {
        width: 250px;
    }

    .userpanel-addingform {
        width: 400px;
        font-size: 17px;
        text-indent: 8px;
    }

    .userpanel-editform {
        max-width: 250px;
        font-size: 17px;
        text-indent: 8px;
    }

    .userpanel-dropdown-content {
        width: 250px;
        font-size: 17px;
    }

    .userpanel-search {
        font-size: 17px;
        text-indent: 8px;
    }

    .updateDotGreen {
        font-size: 8px;
    }

    .updateDotRed {
        font-size: 8px;
    }

    .Name {
        padding: 3px 0 0 0;
        font-size: 18px;
    }

    .miner-btn{
        font-size: 16px!important;
        max-width: 200px;
        padding: 4px 2px;
    }

    .miner-btn-chart{
        font-size: 16px!important;
        max-width: 120px;
        padding: 4px 2px;
        margin: 4px 8px;
    }

    .table {
        font-size: 13px;
    }

    .email-margin {
        margin: 1px 0 0 0;
    }

    .panel-heading-miner {
        height: 45px;
        overflow: auto;
        display: table;
        cursor: nwse-resize;
    }

    .stateInfo {
        font-size: 14px;
    }

}

@media only screen and (min-width: 600px) and (max-width: 799px) {

    .miner-buttons {
        margin-top: 15px;
    }

    .login-foot {
        font-size: 24px;
    }

    .login-foot-text {
        font-size: 12px
    }

    .login-box {
        margin: 75px 10%;
    }

    .login-header-logo {
        max-height: 60px
    }

    .login-header {
        font-size: 19px;
        padding: 0 8px;
    }

    .login-header a {
        font-size: 16px;
        padding: 3px 0 0 0;
    }

    .login-content {
        padding: 60px 7%;
    }

    .login-fields {
        padding: 15px;
        font-size: 14px;
    }

    .login-field input {
        text-indent: 6px;
        padding: 4px;
    }

    .login-buttons {
        margin: 9px;
    }

    .login-buttons button {
        font-size: 13px;
        padding: 3px 15px;
    }

    .login-fields p {
        padding: 9px;
    }

    .login-field td {
        padding: 9px;
    }

    .miner-flash-table {
        max-height: 350px;
    }

    .miner-flash-table .fa {
        font-size: 11px;
    }

    .miner-flash-table .btn {
        padding: 0 2px;
    }


    .miner-flash-uploadfield {
        height: 100px;
    }

    .minerOutput {
        padding: 0 50px;
    }

    .minerOutput pre {
        font-size: 10px;
    }

    .update-loading {
        max-height: 30px;
    }

    .miner-panel-body {
        margin: 6px 2px
    }

    .panel-body{
        padding: 9px!important;
    }

    .miner-miners {
        margin: 18px 50px;
    }

    .userPanel {
        margin: 25px 50px
    }

    #mine .navbar-size-fix {
        margin: 0 50px;
    }

    .fa {
        font-size: 15px;
    }

    .userpanel-content table {
        font-size: 13px;
    }

    .userpanel-content {
        font-size: 13px;
    }

    .userpanel-header {
        font-size: 26px;
    }

    .userpanel-dropdown-input {
        font-size: 13px;
        text-indent: 5px;
    }

    .userpanel-dropdown-button {
        width: 190px;
    }

    .miner-dropdown-button {
        width: 190px;
    }

    .userpanel-addingform {
        width: 300px;
        font-size: 13px;
        text-indent: 5px;
    }

    .userpanel-editform {
        max-width: 190px;
        font-size: 13px;
        text-indent: 5px;
    }

    .userpanel-dropdown-content {
        width: 190px;
        font-size: 13px;
    }

    .userpanel-search {
        font-size: 13px;
        text-indent: 5px;
    }

    .updateDotGreen {
        font-size: 7px;
    }

    .updateDotRed {
        font-size: 7px;
    }

    .Name {
        padding: 3px 0 0 0;
        font-size: 14px;
    }

    .miner-btn{
        font-size: 12px!important;
        max-width: 150px;
        padding: 3px 1px;
    }

    .miner-btn-chart{
        font-size: 12px!important;
        max-width: 70px;
        padding: 3px 1px;
        margin: 3px 6px;
    }

    .table {
        font-size: 11px;
    }

    .panel-heading-miner {
        height: 36px;
        overflow: auto;
        display: table;
        cursor: nwse-resize;
    }

    .stateInfo {
        font-size: 12px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 599px) {

    .miner-buttons {
        margin-top: 15px;
    }

    .login-foot {
        font-size: 20px;
    }

    .login-foot-text {
        font-size: 10px
    }

    .login-box {
        margin: 75px 10%;
    }

    .login-header-logo {
        max-height: 60px
    }

    .login-header {
        font-size: 19px;
        padding: 0 8px;
    }

    .login-header a {
        font-size: 16px;
        padding: 3px 0 0 0;
    }

    .login-content {
        padding: 60px 7%;
    }

    .login-fields {
        padding: 15px;
        font-size: 14px;
    }

    .login-field input {
        text-indent: 6px;
        padding: 4px;
    }

    .login-buttons {
        margin: 9px;
    }

    .login-buttons button {
        font-size: 13px;
        padding: 3px 15px;
    }

    .login-fields p {
        padding: 9px;
    }

    .login-field td {
        padding: 9px;
    }

    .miner-flash-uploadfield {
        height: 75px;
    }

    .miner-flash-table {
        max-height: 300px;
    }

    .miner-flash-table .fa {
        font-size: 9px;
    }

    .miner-flash-table .btn {
        padding: 0 1px;
    }

    .minerOutput {
        padding: 0 25px;
    }

    .minerOutput pre {
        font-size: 8px;
    }

    .update-loading {
        max-height: 25px;
    }

    .miner-panel-body {
        margin: 4px 1px
    }

    .panel-body{
        padding: 6px!important;
    }

    .miner-miners {
        margin: 15px 25px;
    }

    .userPanel {
        margin: 25px 25px
    }

    #mine .navbar-size-fix {
        margin: 0 25px;
    }

    .fa {
        font-size: 12px;
    }

    .userpanel-content table {
        font-size: 10px;
    }

    .userpanel-content {
        font-size: 10px;
    }

    .userpanel-header {
        font-size: 20px;
    }

    .userpanel-dropdown-input {
        font-size: 10px;
        text-indent: 3px;
    }

    .userpanel-dropdown-button {
        width: 150px;
    }

    .miner-dropdown-button {
        width: 150px;
    }

    .userpanel-addingform {
        width: 200px;
        font-size: 10px;
        text-indent: 3px;
    }

    .userpanel-editform {
        max-width: 150px;
        font-size: 10px;
        text-indent: 3px;
    }

    .userpanel-dropdown-content {
        width: 150px;
        font-size: 10px;
    }

    .userpanel-search {
        font-size: 10px;
        text-indent: 3px;
    }

    .updateDotGreen {
        font-size: 5px;
    }

    .updateDotRed {
        font-size: 5px;
    }

    .Name {
        padding: 2px 0 0 0;
        font-size: 11px;
    }

    .miner-btn {
        font-size: 10px !important;
        max-width: 100px;
        padding: 2px 1px;
    }

    .miner-btn-chart {
        font-size: 10px !important;
        max-width: 50px;
        padding: 2px 1px;
        margin: 2px 4px;
    }

    .table {
        font-size: 8px;
    }

    .panel-heading-miner {
        height: 30px;
    }

    .stateInfo {
        font-size: 10px;
    }
}

@media only screen and (max-width: 499px) {

    .miner-buttons {
        margin-top: 15px;
    }

    .login-foot {
        font-size: 16px;
    }

    .login-foot-text {
        font-size: 8px
    }

    .login-box {
        margin: 75px 10%;
    }

    .login-header-logo {
        max-height: 60px
    }

    .login-header {
        font-size: 19px;
        padding: 0 8px;
    }

    .login-header a {
        font-size: 16px;
        padding: 3px 0 0 0;
    }

    .login-content {
        padding: 60px 7%;
    }

    .login-fields {
        padding: 15px;
        font-size: 14px;
    }

    .login-field input {
        text-indent: 6px;
        padding: 4px;
    }

    .login-buttons {
        margin: 9px;
    }

    .login-buttons button {
        font-size: 13px;
        padding: 3px 15px;
    }

    .login-fields p {
        padding: 9px;
    }

    .login-field td {
        padding: 9px;
    }

    .miner-flash-uploadfield {
        height: 50px;
    }

    .miner-flash-table {
        max-height: 250px;
    }

    .miner-flash-table .fa {
        font-size: 7px;
    }

    .miner-flash-table .btn {
        padding: 0;
    }

    .minerOutput {
        padding: 0 15px;
    }

    .minerOutput pre {
        font-size: 6px;
    }

    .update-loading {
        max-height: 20px;
    }

    .miner-panel-body {
        margin: 2px 1px
    }

    .panel-body {
        padding: 3px!important;
    }


    .miner-miners {
        margin: 12px 15px;
    }

    .userPanel {
        margin: 20px 15px
    }

    #mine .navbar-size-fix {
        margin: 0 15px;
    }

    .fa {
        font-size: 10px;
    }

    .userpanel-content table {
        font-size: 8px;
    }

    .userpanel-content {
        font-size: 8px;
    }

    .userpanel-header {
        font-size: 16px;
    }

    .userpanel-dropdown-input {
        font-size: 8px;
        text-indent: 1px;
    }

    .userpanel-dropdown-button {
        width: 120px;
    }

    .miner-dropdown-button {
        width: 120px;
    }

    .userpanel-addingform {
        width: 160px;
        font-size: 8px;
        text-indent: 1px;
    }

    .userpanel-editform {
        max-width: 120px;
        font-size: 8px;
        text-indent: 1px;
    }

    .userpanel-dropdown-content {
        width: 120px;
        font-size: 8px;
    }

    .userpanel-search {
        font-size: 8px;
        text-indent: 1px;
    }

    .updateDotGreen {
        font-size: 3px;
    }

    .updateDotRed {
        font-size: 3px;
    }

    .Name {
        padding: 1px 0 0 0;
        font-size: 9px;
    }

    .miner-btn {
        font-size: 8px !important;
        max-width: 70px;
        padding: 1px 1px;
    }

    .miner-btn-chart {
        font-size: 8px !important;
        max-width: 40px;
        padding: 1px 1px;
        margin: 1px 2px;
    }

    .table {
        font-size: 6px;
    }

    .panel-heading-miner {
        height: 27px;
    }

    .stateInfo {
        font-size: 8px;
    }
}

@media only screen and (min-height: 600px) and (max-height: 799px) {
    pre {
        max-height: 150px;
    }
}

@media only screen and (min-height: 400px) and (max-height: 599px) {
    pre {
        max-height: 100px;
    }
}

@media only screen and (max-height: 399px) {
    pre {
        max-height: 70px;
    }
}


@media only screen and (max-width: 575px) {
    .navbarSearch {
        margin: 0 0 0 10px;
    }
}
