<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>FluenRIG</title>
    <%= stylesheetTag("application.css") %>
        <link rel="icon" href="<%= assetPath(" images/favicon.ico ") %>">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>

    <div class="container" style="margin: auto; width: 100%; max-width: 213769px">
        <%= partial("flash.html") %>
            <%= yield %>
    </div>

    <%= javascriptTag("application.js") %>
</body>

</html>